
#content { background:#f5f5f5; padding:40px 0px 40px 0px; min-height: 658px;}
#content p.top_nav{ float:left; width:100%; margin:0px 0px 30px 0px; font-size:14px; color:#808080;}
#content p.top_nav a{ font-size:14px; color:#808080;}
#content p.top_nav a:hover{ color:#188eee;}
#content .left_box{ padding:30px 20px 40px 20px; width:840px; float:left; background:#fff;}
#content .left_box div.box_title{ width:100%; height:40px; border-bottom:1px solid #ebebeb; position:relative; margin:0px 0px 10px 0px;}
#content .left_box div.box_title a{ padding:0px 10px 0px 10px; height:40px; line-height:40px; border-bottom:1px solid #ebebeb; font-size:16px; color:#333; display:inline-block;}
#content .left_box div.box_title a:nth-child(1){ padding:0px 10px 0px 0px;}
#content .left_box div.box_title a.cur{ border-bottom:1px solid #f3711a; color:#f3711a; }
#content .left_box div.box_title a:hover{ border-bottom:1px solid #f3711a; color:#f3711a;}
#content .left_box div.vip_tips{ float:left; background:#ecf3f8; width:810px; padding:15px 10px 15px 20px; margin:0px 0px 30px 0px;}
#content .left_box div.vip_tips i{ float:left; display:inline-block; width:27px; height:23px; background:url(../../images/2017/note.png) no-repeat; margin:0px 20px 0px 0px;}
#content .left_box div.vip_tips span.left{ font-size:14px; color:#188eee;}
#content .left_box div.vip_tips a.right{ font-size:14px; color:#188eee;}
#content .left_box div.vip_tips a.right:hover{ text-decoration:underline;}
#content .left_box div.vip_tips a.del{ display:inline-block; float:right; width:9px; height:9px; background:url(../../images/2017/close.png); margin:6px 0px 0px 10px;}
#content .left_box table{ border-top:1px solid #d9d9d9; border-left:1px solid #d9d9d9;}
#content .left_box table th{ background:#ebebeb; padding:15px 0px 15px 0px; text-align:center; border-right:1px solid  #d9d9d9; border-bottom:1px solid  #d9d9d9; position:relative; font-size:14px; color:#333;}
#content .left_box table th span{ font-size:14px; color:#333;}
#content .left_box table th i.select{ display:inline-block; width:12px; height:8px; background:url(../../images/2017/select_down.png) no-repeat;}
#content .left_box table th i.order{ display:inline-block; width:8px; height:10px; background:url(../../images/2017/order_down.png) no-repeat; margin:2px 0px 0px 2px; cursor:pointer;}
#content .left_box table th i.hover{ background:url(../../images/2017/order_down_h.png) no-repeat;}
#content .left_box table th:hover i.order{ background:url(../../images/2017/order_down_h.png) no-repeat;}
#content .left_box table th:hover span{ color:#188eee;}
#content .left_box table th ul{ position:absolute; left:-1px; top:50px; border-right:1px solid  #d9d9d9; border-left:1px solid  #d9d9d9; border-bottom:1px solid  #d9d9d9; width:100%; display:none;}
#content .left_box table th ul li{ width:100%; height:25px;}
#content .left_box table th ul li p{ padding:0px 10px 0px 10px; line-height:25px; background:#fff; color:#808080; text-align:left; height:25px; overflow:hidden;}
#content .left_box table th ul li p:hover{ background:#ebebeb; color:#333333;}
#content .left_box table td{ background:#f5f5f5; padding:15px 0px 15px 0px; border-right:1px solid  #d9d9d9; border-bottom:1px solid  #d9d9d9;}
#content .left_box table tr.w td{ background:#fff;}
#content .left_box table tr:hover td{ background:#ecf3f8;}
#content .left_box table td input{ display:inline-block; background:url(../../images/2017/checkbox.png); width:12px; height:12px; float:left; margin:2px 10px 0px 15px;-webkit-appearance:none;}
#content .left_box table td input.checked{ background:url(../../images/2017/checkbox_h.png);}
#content .left_box table td a.resume{ display:inline-block; float:left; font-size:14px; color:#188eee; width:55px; height:15px; line-height:14px; overflow:hidden; margin:0px 5px 0px 0px;}
#content .left_box table td a.resume:hover{ text-decoration:underline;}
#content .left_box table td a.del{ display:inline-block; float:left; width:11px; height:12px; background:url(../../images/2017/del_icon.png); background-size:11px 12px; margin:2px 0px 0px 10px;}
#content .left_box table td a.del:hover{ background:url(../../images/2017/del_icon_h.png); background-size:11px 12px;}
#content .left_box table td a.fav{ display:inline-block; float:left; width:13px; height:12px; background:url(../../images/2017/star_small.png); background-size:13px 12px; margin:2px 0px 0px 0px;}
#content .left_box table td a.fav:hover{ background:url(../../images/2017/star_small_h.png); background-size:13px 12px;}
#content .left_box table td p{ text-align:center; font-size:14px; color:#333; margin:0px 10px 0px 10px; display:block; line-height:20px; max-width:130px;}
#content .left_box table td p.time{ color:#f3711a;}
#content .left_box table td p.attachment_resume{ text-align:center; max-width:none; line-height:20px; height:20px; overflow:hidden; color:#808080; font-size:14px;}
#content .left_box table td p.attachment_resume a{ display:inline-block; width:16px; height:16px; background:url(../../images/2017/download_icon2.png) no-repeat; background-size:16px 16px;}
#content .left_box table td p.attachment_resume a:hover{ background:url(../../images/2017/download_icon2_h.png) no-repeat; background-size:16px 16px;}
#content .left_box table tr.empty td{ width:100%;}
#content .left_box table tr.empty td input{ display:inline-block; background:url(../../images/2017/checkbox.png); width:12px; height:12px; float:left; margin:5px 10px 0px 15px;-webkit-appearance:none;}
#content .left_box table tr.empty td input.checked{ background:url(../../images/2017/checkbox_h.png);}
#content .left_box table tr.empty td span{ float:left; font-size:14px; color:#808080;}




#content .left_box div.page_box { text-align:center; margin:50px 0px 0px 0px;}
#content .left_box div.page_box li{ display:inline-block;}
#content .left_box div.page_box a{ display:inline-block; height:30px; line-height:30px; border-radius:5px; padding:0px 10px 0px 10px; background:#f5f5f5; margin:0px 5px 0px 5px; color:#666666; font-size:16px;}
#content .left_box div.page_box a:hover{ color:#fff; background:#3275b1;}
#content .left_box div.page_box a.select{ color:#fff; background:#3275b1;}
#content .left_box div.page_box span{ display:inline-block; height:30px; line-height:30px; margin:0px 5px 0px 5px; color:#4c4c4c; font-size:14px;}

#content .left_box div.do_box{ float:left; width:100%; margin:30px 0px 50px 0px; width:100%;}
#content .left_box div.do_box input.check_all_input{ float:left; display:inline-block; width:12px; height:12px; background: url(../../images/2017/checkbox.png); background-size:12px 12px; -webkit-appearance:none; margin:5px 10px 0px 0px;}
#content .left_box div.do_box input.checked{ background: url(../../images/2017/checkbox_h_16-16.png); background-size:12px 12px;}
#content .left_box div.do_box span.check_all_span{ float:left; margin:0px 15px 0px 0px; font-size:14px; color:#808080;}
#content .left_box div.do_box input#attention_shift{ float:left; margin:0px 15px 0px 0px; font-size:14px; color:#188eee; background:none; cursor:pointer;}
#content .left_box div.do_box input#attention_shift:hover{ text-decoration:underline;}
#content .left_box div.do_box input#del_save{ float:left; margin:0px 15px 0px 0px; font-size:14px; color:#188eee; background:none; cursor:pointer;}
#content .left_box div.do_box input#del_save:hover{ text-decoration:underline;}

#content .left_box div.empty_box{ text-align:center; margin:30px 0px 0px 0px;}
#content .left_box div.empty_box i{ display:inline-block; width:118px; height:154px; background:url(../../images/2017/woman.png);}
#content .left_box div.empty_box p{ text-align:center; font-size:14px; color:#cccccc; margin:10px 0px 0px 0px;}
#content .left_box div.empty_box a{ font-size:20px; color:#f3711a; text-align:center; line-height:48px; width:118px; height:48px; border-radius:10px; border:1px solid #f3711a; background:#fff; display:inline-block; margin:30px 0px 0px 0px;}
#content .left_box div.empty_box a:hover{ background:#f3711a; color:#fff;}







#content .right_box{ width:280px; float:right;}

#content .right_box .function_box{ width:280px; float:left;}
#content .right_box .function_box ul{ float:left; width:280px; padding:20px 0px 0px 0px; background:#fff;}
#content .right_box .function_box ul li{ float:left; width:280px; padding:0px 20px 0px 20px; margin:0px 0px 25px 0px;}
#content .right_box .function_box ul li a{ display:block; float:left; width:100%; height:100%;}
#content .right_box .function_box ul li span{ float:left; font-size:14px; color:#808080; line-height:20px; display:inline-block;}
#content .right_box .function_box ul li:hover span{ color:#188eee;}
#content .right_box .function_box ul li i{ display:inline-block; float:left; margin:0px 30px 0px 0px; width:22px; height:23px;}

#content .right_box .function_box ul li.company_profile i{ background:url(../../images/2017/company_profile_icon.png) center no-repeat;}
#content .right_box .function_box ul li.company_job i{ background:url(../../images/2017/company_jobs_icon.png) center no-repeat;}
#content .right_box .function_box ul li.company_resume i{ background:url(../../images/2017/company_resume_icon.png) center no-repeat;}
#content .right_box .function_box ul li.company_vip i{ background:url(../../images/2017/company_vip_icon.png) center no-repeat;}
#content .right_box .function_box ul li.company_account i{ background:url(../../images/2017/company_account_icon.png) center no-repeat;}
#content .right_box .function_box ul li.company_authenticate i{ background:url(../../images/2017/company_authenticate_icon.png) center no-repeat;}
#content .right_box .function_box ul li.company_profile:hover i{ background:url(../../images/2017/company_profile_icon_h.png) center no-repeat;}
#content .right_box .function_box ul li.company_job:hover i{ background:url(../../images/2017/company_jobs_icon_h.png) center no-repeat;}
#content .right_box .function_box ul li.company_resume:hover i{ background:url(../../images/2017/company_resume_icon_h.png) center no-repeat;}
#content .right_box .function_box ul li.company_vip:hover i{ background:url(../../images/2017/company_vip_icon_h.png) center no-repeat;}
#content .right_box .function_box ul li.company_account:hover i{ background:url(../../images/2017/company_account_icon_h.png) center no-repeat;}
#content .right_box .function_box ul li.company_authenticate:hover i{ background:url(../../images/2017/company_authenticate_icon_h.png) center no-repeat;}
#content .right_box .function_box ul li.company_resume i{ background:url(../../images/2017/company_resume_icon_h.png) center no-repeat;}
#content .right_box .function_box ul li.company_resume span{ color:#188eee;}


#content .right_box .quick_box{ width:280px; margin:10px 0px 0px 0px; float:left;}
#content .right_box .quick_box ul{ float:left; width:280px; padding:20px 0px 0px 0px; background:#fff;}
#content .right_box .quick_box ul li{ float:left; width:53px; padding:0px 20px 0px 20px; margin:0px 0px 25px 0px;}
#content .right_box .quick_box ul li a{ display:block; float:left; width:100%; height:100%; text-align:center;}
#content .right_box .quick_box ul li span{ color:#808080; line-height:20px; display:inline-block;}
#content .right_box .quick_box ul li:hover span{ color:#188eee;}
#content .right_box .quick_box ul li i{ display:inline-block; width:50px; height:50px;}

#content .right_box .quick_box ul li.add_jobs i{ background:url(../../images/2017/add_jobs.png) center no-repeat;}
#content .right_box .quick_box ul li.home_page i{ background:url(../../images/2017/home_page.png) center no-repeat;}
#content .right_box .quick_box ul li.search_resume i{ background:url(../../images/2017/search_resume.png) center no-repeat;}

#content .right_box .quick_box ul li.add_jobs:hover i{ background:url(../../images/2017/add_jobs_h.png) center no-repeat;}
#content .right_box .quick_box ul li.home_page:hover i{ background:url(../../images/2017/home_page_h.png) center no-repeat;}
#content .right_box .quick_box ul li.search_resume:hover i{ background:url(../../images/2017/search_resume_h.png) center no-repeat;}


	


