
#content { background:#f5f5f5; padding:40px 0px 40px 0px; min-height: 658px;}
#content .top_box{ float:left; width:100%;}
#content .top_box .page_title{ float:left; position:relative;}
#content .top_box .page_title h1{ float:left;}
#content .top_box .page_title h1 a{ font-size:30px; color:#333;}
#content .top_box .page_title i.line{ display:inline-block; float:left; background:#cccccc; width:1px; height:20px; margin:10px 10px 0px 10px;}
#content .top_box .page_title span.district_name{ font-size:14px; color:#188eee; float:left;    margin: 8px 5px 0px 0px;}
#content .top_box .page_title a.district_select{ float:left; margin: 8px 5px 0px 0px;}
#content .top_box .page_title a.district_select span{ float:left; font-size:14px; color:#808080; margin: 0px 5px 0px 0px;}
#content .top_box .page_title a.district_select i{ float:left; display:inline-block; width:12px; height:8px; background:url(../../images/2017/select_down.png); margin: 7px 0px 0px 0px;}

#content .top_box .page_title div.district_list{ position: absolute; float:left; padding:20px; border:1px solid #dcdcdc; background:#fff; top: 28px; right: -635px; z-index: 3;min-width: 680px; min-height: 150px; display:none;}
#content .top_box .page_title div.district_list div.top{ position:relative; height:30px; border-bottom:1px solid #dcdcdc;}
#content .top_box .page_title div.district_list div.top p{ position: absolute; height:30px; border-bottom:1px solid #dcdcdc; font-size:14px; color:#333333; cursor:pointer; line-height:15px;}
#content .top_box .page_title div.district_list div.top p:nth-child(2){ left:70px;}
#content .top_box .page_title div.district_list div.top p:nth-child(3){ left:110px; display: none;}
#content .top_box .page_title div.district_list div.top p:hover{ border-bottom:1px solid #ec6941; color:#ec6941;}
#content .top_box .page_title div.district_list div.top p.hover{ border-bottom:1px solid #ec6941; color:#ec6941;}
#content .top_box .page_title div.district_list div.list{ margin:20px 0px 0px 0px; float:left; display: none; width: 680px;}
#content .top_box .page_title div.district_list div.list a{ float:left; margin:0px 20px 20px 0px; color:#808080; font-size:14px; cursor: pointer;}
#content .top_box .page_title div.district_list div.list a:hover{ color:#188eee; text-decoration:none;}
#content .top_box .search_box{ float:right;}
#content .top_box .search_box .search_icon{ display:inline-block; width:18px; height:18px; background:url(../../images/2017/search.png); margin:10px 0px 0px 0px;}
#content .top_box .search_box .search{ float:left; border:1px solid #188eee;}
#content .top_box .search_box .search .key{ float:left; width:218px; height:20px; line-height:20px; padding:5px 10px 5px 10px; color:#333; font-size:14px;}
#content .top_box .search_box .search .submit{ float:left; background-color:#188eee; background-image:url(../../images/2017/submit_bt.jpg); background-position:center; width:40px; height:30px; overflow:hidden; cursor:pointer;}
#content .nav{ float:left; width:100%; font-size:14px; color:#cccccc; margin:30px 0px 30px 0px;}
#content .nav a{ font-size:14px; color:#808080;}
#content .nav a:hover{ text-decoration:underline;}
#content .nav span{ font-size:14px; color:#808080;}
#content .left_box{ float:left; width:880px;}
#content .left_box .conditions_box{ padding:20px 20px 20px 20px; margin:0px 0px 20px 0px; background:#fff; float:left; width:840px;}
#content .left_box .conditions_show{ float:left; width:794px; padding:20px 20px 10px 20px; border:1px solid #dcdcdc;}
#content .left_box .conditions_show ul.top li{ float:left; width:100%; margin:0px 0px 10px 0px;}
#content .left_box .conditions_show ul.top li div.left{ width:80px; margin:3px 10px 0px 0px;}
#content .left_box .conditions_show ul.top li b{ float:left; font-size:16px; color:#333;}
#content .left_box .conditions_show ul.top li span{ display:inline-block; height:28px; line-height:28px; border-radius:5px; text-align:center; padding:0px 10px 0px 10px; float:left; font-size:14px; background:#ec6941; color:#fff; margin:0px 5px 0px 0px;}
#content .left_box .conditions_show ul.top li div.right{ width:700px;}
#content .left_box .conditions_show ul.top li div.right>a{ display:inline-block; height:28px; line-height:28px; border-radius:5px; background:#fff; text-align:center; padding:0px 10px 0px 10px; float:left; font-size:14px; color:#808080; margin:0px 5px 10px 0px; cursor: pointer;}
#content .left_box .conditions_show ul.top li div.right>a:hover{ background:#ec6941; color:#fff;}
#content .left_box .conditions_show ul.top li div.right>a.hover{ background:#ec6941; color:#fff;}
#content .left_box .conditions_show ul.top li.district{ position:relative;}
#content .left_box .conditions_show ul.top li.district a{ color:#188eee;}
#content .left_box .conditions_show ul.top li.district a:hover{ color:#188eee; text-decoration:underline; background:none;}
#content .left_box .conditions_show ul.top li.district div.district_list{ position: absolute; float:left; padding:20px; border:1px solid #dcdcdc; background:#fff; top: 25px; left: 90px; display:none; z-index: 1;min-width: 680px; min-height: 150px;}
#content .left_box .conditions_show ul.top li.district div.district_list div.top{ position:relative; height:30px; border-bottom:1px solid #dcdcdc;}
#content .left_box .conditions_show ul.top li.district div.district_list div.top p{ position: absolute; height:30px; border-bottom:1px solid #dcdcdc; font-size:14px; color:#333333; cursor:pointer; line-height:15px;}
#content .left_box .conditions_show ul.top li.district div.district_list div.top p:nth-child(2){ left:70px;}
#content .left_box .conditions_show ul.top li.district div.district_list div.top p:nth-child(3){ left:110px; display: none;}
#content .left_box .conditions_show ul.top li.district div.district_list div.top p:hover{ border-bottom:1px solid #ec6941; color:#ec6941;}
#content .left_box .conditions_show ul.top li.district div.district_list div.top p.hover{ border-bottom:1px solid #ec6941; color:#ec6941;}
#content .left_box .conditions_show ul.top li.district div.district_list div.list{ margin:20px 0px 0px 0px; float:left; display: none;}
#content .left_box .conditions_show ul.top li.district div.district_list div.list a{ float:left; margin:0px 20px 20px 0px; color:#808080; font-size:14px; cursor: pointer;}
#content .left_box .conditions_show ul.top li.district div.district_list div.list a:hover{ color:#188eee; text-decoration:none;}

#content .left_box .conditions_show ul.top li.type ul.type_list{ float:left; width:88%;}
#content .left_box .conditions_show ul.top li.type ul.type_list li{ float:left; position:relative; width:auto; height:28px; line-height:28px; margin:0px 0px 10px 0px;}
#content .left_box .conditions_show ul.top li.type ul.type_list li a{ display:inline-block; height:28px; line-height:28px; border-radius:5px; background:#fff; text-align:center; padding:0px 10px 0px 10px; float:left; font-size:14px; color:#808080; margin:0px 5px 10px 0px; cursor: pointer;}
#content .left_box .conditions_show ul.top li.type ul.type_list li a:hover{ background:#ec6941; color:#fff;}
#content .left_box .conditions_show ul.top li.type ul.type_list li a.hover{ background:#ec6941; color:#fff;}
#content .left_box .conditions_show ul.top li.type div.type_list_b{ position: absolute; float:left; padding:20px; border:1px solid #dcdcdc; background:#fff; top: 25px; left: 0; display:none; z-index: 1;min-width: 680px; min-height: 150px;}
#content .left_box .conditions_show ul.top li.type div.type_list_b a{ float:left; margin:0px 20px 20px 0px; color:#808080; font-size:14px; cursor: pointer;}
#content .left_box .conditions_show ul.top li.type div.type_list_b a:hover{ color:#188eee; text-decoration:none;}

#content .left_box .conditions_show p.more{ text-align:center;}
#content .left_box .conditions_show p.more a{ font-size:14px; color:#188eee;}
#content .left_box .conditions_show p.more i{ display:inline-block; width:12px; height:8px; background:url(../../images/2017/select_up.png);}
#content .left_box .conditions_hide { text-align:center; padding:10px 20px; border:1px solid #dcdcdc; float: left; width: 794px; display: none;}
#content .left_box .conditions_hide a{ font-size:14px; color:#188eee;}
#content .left_box .conditions_hide i{ display:inline-block; width:12px; height:8px; background:url(../../images/2017/select_down.png);}
#content .left_box .conditions_select{ float:left; width:100%; margin:20px 0px 20px 0px;}
#content .left_box .conditions_select b{ font-size:16px; color:#188eee; margin:5px 10px 0px 0px;}
#content .left_box .conditions_select div.select_item{ float:left; width:710px; margin:0px 10px 0px 0px; height: 30px;}
#content .left_box .conditions_select div.select_item a{ float:left; display:inline-block; height:30px; line-height:30px; border:1px solid #188eee; border-radius:5px; color:#188eee; text-align:center; padding:0px 5px 0px 5px; margin:0px 10px 10px 0px;}
#content .left_box .conditions_select div.select_item a span{ float:left; margin:0px 5px 0px 0px;}
#content .left_box .conditions_select div.select_item a i{ display:inline-block; width:9px; height:9px; background:url(../../images/2017/close.png);}
#content .left_box .conditions_select a.left{ color:#188eee; font-size:14px; margin:5px 0px 0px 0px;}
#content .left_box .conditions_select a.left:hover{ text-decoration:underline;}

#content .left_box .box_tip{ width:100%; background:#fff; float:left;}
#content .left_box .tip_box{ width:840px; height:45px; background:#ecf3f8; margin:20px 20px 0px 20px;}
#content .left_box .box_tip i{ float:left; display:inline-block; width:27px; height:23px; background:url(../../images/2017/note.png) no-repeat; margin:10px 0px 0px 10px;}
#content .left_box .box_tip p{ float:left; line-height:45px; color:#188eee; margin:0px 0px 0px 20px;}
#content .left_box .box_tip p a{ color:#f3711a;}
#content .left_box .box_tip p a:hover{ text-decoration:underline;}
#content .left_box .box_tip a.close{ float:right; display:inline-block; width:9px; height:9px; background:url(../../images/2017/close.png) no-repeat; margin:18px 10px 0px 0px;}

#content .left_box .job_list{ float:left; width:840px; padding:0px 20px 30px 20px; background:#fff;}
#content .left_box .job_list li{ float:left; width:100%; border-bottom:1px dotted #dcdcdc; padding:30px 0px 30px 0px;}
#content .left_box .job_list li div.district{ float:left; width:50px; margin:0px 20px 0px 0px;}
#content .left_box .job_list li div.district p{ font-size:14px; color:#808080; line-height:20px;}
#content .left_box .job_list li div.info{ float:left; width:340px; margin:0px 20px 0px 0px;}
#content .left_box .job_list li div.info a{ font-size:16px; color:#188eee; line-height:20px; display: inline-block; max-width:100%; height:20px; overflow:hidden;}
#content .left_box .job_list li div.info a:hover{ text-decoration:underline;}
#content .left_box .job_list li div.info p{ font-size:14px; color:#808080; margin:20px 0px 0px 0px;}
#content .left_box .job_list li div.info p span{ font-size:14px; color:#f3711a;}
#content .left_box .job_list li div.company{ float:left; width:300px; margin:0px 20px 0px 0px;}
#content .left_box .job_list li div.company a{ float:left; font-size:16px; color:#188eee; line-height:20px; display: inline-block; max-width:250px; height:20px; overflow:hidden;}
#content .left_box .job_list li div.company a:hover{ text-decoration:underline;}
#content .left_box .job_list li div.company i{ float:left; display:inline-block; width:20px; height:19px; margin:0px 0px 0px 5px;}
#content .left_box .job_list li div.company i.vip{ background:url(../../images/2017/company_vip.png) no-repeat;}
#content .left_box .job_list li div.company i.auth{ background:url(../../images/2017/company_auth.png) no-repeat;}
#content .left_box .job_list li div.company i.setmeal{ background:url(../../images/2017/company_setmeal.png) no-repeat;}
#content .left_box .job_list li div.company p{ color:#cccccc; margin:20px 0px 0px 0px;}
#content .left_box .job_list li div.button{ float: right;}
#content .left_box .job_list li div.button a.apply{ display:inline-block; width:75px; height:30px; text-align:center; line-height:30px; font-size:14px; color:#fff; border-radius:5px; background:#f3711a;}
#content .left_box .job_list li div.button a.apply:hover{ opacity:0.8;}
#content .left_box .job_list li div.button a.fav{ font-size:14px; color:#cccccc; margin:5px 0px 0px 10px; float: left;}
#content .left_box .job_list li div.button a.fav i{ display:inline-block; width:15px; height:14px; background:url(../../images/2017/star_small2.png) no-repeat; margin:0px 5px 0px 0px;}
#content .left_box .job_list li div.button a.fav:hover{ color:#188eee;}
#content .left_box .job_list li div.button a.fav:hover i{ background:url(../../images/2017/star_small2_h.png) no-repeat;}
#content .left_box div.page_box { text-align:center; float:left; width:100%; background:#fff; padding:0px 0px 20px 0px;}
#content .left_box div.page_box li{ display:inline-block;}
#content .left_box div.page_box a{ display:inline-block; height:30px; line-height:30px; border-radius:5px; padding:0px 10px 0px 10px; background:#f5f5f5; margin:0px 5px 0px 5px; color:#666666; font-size:16px;}
#content .left_box div.page_box a:hover{ color:#fff; background:#3275b1;}
#content .left_box div.page_box a.select{ color:#fff; background:#3275b1;}
#content .left_box div.page_box span{ display:inline-block; height:30px; line-height:30px; margin:0px 5px 0px 5px; color:#4c4c4c; font-size:14px;}



#content .right_box{ float:right; width:280px;}
#content .right_box .item_box{ margin:0px 0px 20px 0px; background:#fff; padding:20px 0px 20px 0px; float:left; width:100%;}
#content .right_box .item_box .b_title{ float:left; margin:0px 0px 0px 10px; width: 100%;}
#content .right_box .item_box .b_title b{ float: left; display: inline-block; width: 5px; height: 18px; margin: 3px 5px 0px 0px; background: #f56540;}
#content .right_box .item_box .b_title span{ font-size:16px; color:#333;}
#content .right_box .item_box ul.look_jobs{ float:left; width:100%; margin:10px 0px 0px 0px;}
#content .right_box .item_box ul.look_jobs li{ float:left; width:260px; border-bottom:1px dotted #dcdcdc; padding:20px 10px 20px 10px;}
#content .right_box .item_box ul.look_jobs li:hover{ background:#fafafa;}
#content .right_box .item_box ul.look_jobs li div.title{ float:left; width:100%; margin:0px 0px 10px 0px;}
#content .right_box .item_box ul.look_jobs li div.title p{ font-size:12px; color:#808080;}
#content .right_box .item_box ul.look_jobs li a.name{ font-size:14px; color:#808080; margin:0px 5px 0px 0px;}
#content .right_box .item_box ul.look_jobs li a.name:hover{ color:#3275b1;}
#content .right_box .item_box ul.look_jobs li div.info{ float:left; width:100%;}
#content .right_box .item_box ul.look_jobs li div.info span.left{ font-size:14px; color:#fa7c5c;}
#content .right_box .item_box ul.look_jobs li div.info span.right{ color:#3275b1; margin:5px 0px 0px 0px;}
#content .right_box .item_box ul.company li{ float:left; width:240px; padding:20px 20px 20px 20px; border-bottom:1px dashed #dcdcdc; }
#content .right_box .item_box ul.company li a.company_name{ font-size:16px; color:#808080; max-width:240px; height:20px; overflow:hidden; font-weight:bold; margin:0px 0px 10px 0px; float:left;}
#content .right_box .item_box ul.company li a.company_name:hover{ color:#188eee;}
#content .right_box .item_box ul.company li div.job{ max-width:240px; height:20px; overflow:hidden;}
#content .right_box .item_box ul.company li div.job span{ font-size:14px; color:#808080; float:left;}
#content .right_box .item_box ul.company li div.job a{ font-size:14px; color:#188eee; float:left; margin:0px 10px 0px 0px; font-weight:normal;}
#content .right_box .item_box ul.company li div.job a:hover{ text-decoration:underline;}
