body{ position:relative;}
#content { background:#f5f5f5; padding:40px 0px 40px 0px; min-height: 658px;}
#content p.top_nav{ float:left; width:100%; margin:0px 0px 30px 0px; font-size:14px; color:#808080;}
#content p.top_nav a{ font-size:14px; color:#808080;}
#content p.top_nav a:hover{ color:#188eee;}
#content .left_box{ padding:20px 20px 40px 20px; width:calc(1200px - 40px); background:#fff;}


#content .left_box p.tpl_info{ font-size:16px; color:#808080; margin:20px 0px 10px 90px;}
#content .left_box p.tpl_info span{ font-size:16px; color:#f3711a;}
#content .left_box div.step_box{ float:left; margin:30px 0px 90px 255px;}
#content .left_box div.step_box div{ float:left;}
#content .left_box div.step_box div span.num{ display:inline-block; width:24px; height:24px; background:#ccc; font-size:16px; color:#fff; border-radius:50px; text-align:center; line-height:24px; float:left; margin:2px 10px 0px 0px;}
#content .left_box div.step_box div span.text{ float:left; font-size:20px; color:#808080;}
#content .left_box div.step_box div i{ display:inline-block; float:left; height:1px; width:110px; margin:15px 20px 0px 20px; background:#ccc;}

#content .left_box div.step_box div.cur span.num{ background:#188eee; color:#fff;}
#content .left_box div.step_box div.cur span.text{ color:#188eee;}
#content .left_box div.step_box div.cur i{ background:#188eee;}

#content .left_box div.payment_box { margin:30px 0px 0px 90px;}
#content .left_box div.payment_box p.payment_title{ font-size:20px; color:#333333;}
#content .left_box div.payment_box ul.payment_list{ float:left; margin:20px 0px 20px 0px;}
#content .left_box div.payment_box ul.payment_list li{ float:left; margin:0px 20px 20px 0px;}
#content .left_box div.payment_box ul.payment_list input{ display:inline-block; width:150px; height:46px;text-indent: -999px; cursor:pointer;}
#content .left_box div.payment_box ul.payment_list input.alipay{ background:url(../../images/2017/pay_alipay.png) no-repeat;}
#content .left_box div.payment_box ul.payment_list input.alipay_h{ background:url(../../images/2017/pay_alipay_h.png) no-repeat;}
#content .left_box div.payment_box ul.payment_list input.wechat{ background:url(../../images/2017/pay_wechat.png) no-repeat;}
#content .left_box div.payment_box ul.payment_list input.wechat_h{ background:url(../../images/2017/pay_wechat_h.png) no-repeat;}
#content .left_box div.payment_box ul.payment_list input.remittance{ background:url(../../images/2017/pay_bank.png) no-repeat;}
#content .left_box div.payment_box ul.payment_list input.remittance_h{ background:url(../../images/2017/pay_bank_h.png) no-repeat;}
#content .left_box div.payment_box ul.payment_list input.online{ background:url(../../images/2017/pay_online.png) no-repeat;}
#content .left_box div.payment_box ul.payment_list input.online_h{ background:url(../../images/2017/pay_online_h.png) no-repeat;}
#content .left_box div.payment_box ul.online_list{ display:none;}
#content .left_box div.payment_box ul.online_list li{ position:relative; width:211px; height:39px; float:left; margin:0px 20px 20px 0px; text-align:center; border:1px solid #ebebeb; cursor:pointer;}
#content .left_box div.payment_box ul.online_list li i{ position: absolute; width:213px; height:41px; top:-1px; left:-1px; background:url(../../images/2017/pay_online_select.png); display:none;}

#content .left_box div.payment_box input.submit{ display:inline-block; width:150px; height:46px; line-height:46px; color:#fff; border-radius:5px; font-size:20px; cursor:pointer; background:#f3711a; margin:40px 0px 0px 425px;}
#content .left_box div.payment_box input.submit:hover{ opacity:0.8; }