<div id="footer">
    <div class="main_box">
        <p class="nav">
            <!--
            <a title="关于我们" href="/explain/explain-show.php?id=9">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a title="个人服务" href="#">个人服务</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a title="学校服务" href="#">学校服务</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a title="合作伙伴" href="/explain/explain-show.php?id=5">合作伙伴</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a title="友情链接" href="/explain/explain-show.php?id=5">友情链接</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a title="网站合作" href="/explain/explain-show.php?id=5">网站合作</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a title="在线反馈" href="/suggest/index.php">在线反馈</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a title="站长统计" href="#">站长统计</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a title="联系我们" href="/explain/explain-show.php?id=3">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a title="资费标准" href="/explain/explain-show.php?id=8">资费标准</a>
            -->
            {#qishi_explain_list set="列表名:explain,显示数目:5,标题长度:6,分类ID:1"#}
            {#foreach from=$explain item=list#}
            &nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" title="{#$list.title#}" href="{#$list.url#}">{#$list.title#}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {#/foreach#}
            &nbsp;&nbsp;&nbsp;&nbsp;<script src='http://s95.cnzz.com/stat.php?id=511743&web_id=511743' language='JavaScript' charset='gb2312'></script>&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" title="发布简章" href="/company_news">发布简章</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>Copyright 2007-2015 &copy; <a title="教师招聘网" href="#">Jiaoshizhaopin.net</a>. All Rights Reserved.&nbsp;&nbsp;教师招聘网&nbsp;版权所有, 本站保留所有权利</p>
        <p><img src="/templates/default/images/copyright.gif"/>&nbsp;增值电信业务经营许可证：粤B2-20090053&nbsp;&nbsp;经营性ICP许可证 ICP备案：<a target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备10085786号</a></p>

        <center>
            <span style="margin-left:0px;">
                <a href="http://www.gzaic.gov.cn/GZCX/WebUI/credit/ReadInfo.htm" target="_blank">
                    <img width="109" height="50" alt="经营性网站备案信息" src="/templates/default/images/zhizhi1.gif" data-src="/templates/default/images/zhizhi1.gif">
                </a>
            </span>
            <span style="margin-left:4px;">
                <a href="http://www.12377.cn/" target="_blank">
                    <img width="109" height="50" alt="不良信息举报中心" src="/templates/default/images/zhizhi2.gif" data-src="/templates/default/images/zhizhi2.gif">
                </a>
            </span>
            <span style="margin-left:4px;">
                <a href="http://210.76.65.188/newwebsite/index.htm" target="_blank">
                    <img width="105" height="50" alt="网络110报警服务" src="/templates/default/images/zhizhi3.gif" data-src="/templates/default/images/zhizhi3.gif">
                </a>
            </span>
            <span style="margin-left:4px;">
                <a href="http://netadreg.gzaic.gov.cn/ntmm/WebSear/WebLogoPub.aspx?logo=440106106022008042300152" target="_blank">
                    <img width="105" height="50" alt="工商网监" src="/templates/default/images/zhizhi4.gif" data-src="/templates/default/images/zhizhi4.gif">
                </a>
            </span>
        </center>
    </div>
</div>

<script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-2390105-2");
    pageTracker._initData();
    pageTracker._trackPageview();
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?648a75efe5a9e70d4505cb9e020fe654";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!-- 回到顶部组件 -->


<div id="side_box" class="side_box">
    <div class="side">
        <div class="back_top"><a class="back_to_top"  ><i></i></a></div>
        <ul>
            <li class="wechat">
                <a  ><i></i><br/>微信</a>
                <div class="wechat_window"></div>
            </li>
            <li class="weibo"><a href="http://weibo.com/zgjiaoshizhaopin"><i></i><br/>微博</a></li>
            <li class="service"><a class="show_window"  ><i></i><br/>咨询</a></li>
            <li class="package"><a href="/charge.htm"><i></i><br/>套餐</a></li>
        </ul>
        <div class="hide"><a  ><i></i></a></div>
    </div>

    <div class="window_box">
        <div class="window">
            <a class="close"></a>
            <div class="clear"></div>
            <ul>
                <li><a class="icon1" href="/user/personal/personal_resume.php?act=edit_resume"></a></li>
                <li><a class="icon2" href="/subscribe"></a></li>
                <li><a class="icon3" href="/user/company/company_jobs.php?act=addjobs"></a></li>
                <li><a class="icon4" href="http://tiku.jiaoshizhaopin.net/"></a></li>
            </ul>
            <div class="clear"></div>
            <div class="bottom">
                <div class="contact">
                    <p><span>招聘热线：</span>020-8928 0907</p>
                    <div class="clear"></div>
                    <p><span class="qq">招聘客服-小麦</span><a class="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=6210210&site=qq&menu=yes"></a></p>
                    <p><span class="qq">招聘客服-微微</span><a class="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=969078455&site=qq&menu=yes"></a></p>
                    <p><span class="qq">考试客服-米奇</span><a class="qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3571928718&site=qq&menu=yes"></a></p>
                </div>
                <div class="code">
                    <div class="img1">
                        <img src="{#$QISHI.site_template#}images/side/code_img1.png" width="114" height="114" />
                        <p>微信客服</p>
                    </div>
                    <div class="img2">
                        <img src="{#$QISHI.site_template#}images/side/code_img2.png" width="114" height="114" />
                        <p>微信公众号</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bg"></div>
    </div>
    <script>
        $('.show_window').click(function () {
            $('div.window_box').show();
            $('div.window_box div.window').show();
            $('div.window_box div.bg').show();
        })
        $('.window_box a.close').click(function () {
            $('.window_box').hide();
        })
        $('div.window_box div.bg').click(function () {
            $('.window_box').hide();
        })
        var h = $('#header').height() + $('#ad_h001').height() + 5;
        if ($(window).scrollTop() < h) {
            $("#side_box .line_bg").css('top', h - $(window).scrollTop());
        } else {
            $("#side_box .line_bg").removeAttr('style');
        }
        $(window).scroll(function () {
            var h = $('#header').height() + $('#ad_h001').height() + 5;
            if ($(window).scrollTop() < h) {
                $("#side_box .line_bg").css('top', h - $(window).scrollTop());
            } else {
                $("#side_box .line_bg").removeAttr('style');
            }
        })

        //设置滚回顶部方法
        $("#side_box a.back_to_top").click(function () {
            $("body,html").animate({scrollTop: 0}, 500);
            return false;
        })
        //设置隐藏菜单
        $("#side_box div.hide a").click(function () {
            if ($(this).hasClass("up")) {
                $(this).removeClass('up');
                $('#side_box .side ul').slideDown();
            } else {
                $(this).addClass('up');
                $('#side_box .side ul').slideUp();
            }
        })
        //显示微信二维码
        $("#side_box li.wechat").mouseover(function () {
            $(this).find('.wechat_window').show()
        }).mouseleave(function () {
            $(this).find('.wechat_window').hide()
        })

    </script>
</div>

