<!doctype html>
<html>
    <head>
        <meta charset="gbk">
        <link href="{#$QISHI.site_template#}css/base_20170628.css" type="text/css" rel="stylesheet">
        <link href="{#$QISHI.site_template#}css/2017/getpass.css" type="text/css" rel="stylesheet">
        <script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>
        <script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
        <title>找回密码_{#$QISHI.site_name#}</title>
    </head>

    <body>
        <div class="bg_box">
            {#qishi_ad set="调用名称:home_202,列表名:list,显示数目:1"#}
            <!--   以下为循环读取 -->
            {#if !empty($list)#}
            {#foreach from=$list item=li#}
            <img src="{#$li.img_path#}"/>
            {#/foreach#}
            {#/if#}
        </div>
        <div class="main_box">
            <div class="bg"></div>
            <a title="教师招聘网" class="logo" href="/"></a>
            {#if $step=="1"#}
            <script type="text/javascript">
                //验证
                $(document).ready(function () {
                    $("#Form1").validate({
                        rules: {
                            email: {
                                required: true,
                                email: true
                            }
                        },
                        messages: {
                            email: {
                                required: jQuery.format("请填写电子邮箱"),
                                email: jQuery.format("请正确填写电子邮箱")
                            }
                        },
                        errorPlacement: function (error, element) {
                            if (element.is(":radio"))
                                error.appendTo(element.parent().next().next());
                            else if (element.is(":checkbox"))
                                error.appendTo(element.next());
                            else
                                error.appendTo(element.parent().parent());
                        }
                    });
                });
            </script>
            <div class="form_box getpass">
                <div class="left">
                    <p class="box_title">找回密码</p>
                    <form id="Form1" name="Form1" method="post" action="?act=get_pass_step2">
                        <div class="item_box">
                            <div class="input_box">
                                <input type="text" class="text" name="email" id="email" placeholder="请输入注册邮箱" value="" />
                            </div>
                        </div>
                        <p class="tips">点击找回密码，系统自动发送重置密码链接至邮箱，登录邮箱后，点击链接重置密码即可。</p>
                        <input name="token" type="hidden" id="token" value="{#$token#}" />
                        <input type="submit" class="submit" value="找回密码" />                    
                    </form>
                </div>
                <div class="right">
                    <a title="通过手机号找回" href="/user/user_getpass_mobile.php">通过手机号找回&nbsp;></a>
                </div>
                <div class="clear"></div>
            </div>
            {#/if#}

            {#if $step=="3"#}
            <script type="text/javascript">
                //验证
                $(document).ready(function () {
                    $("#Form1").validate({
                        rules: {
                            password: {
                                required: true,
                                minlength: 6,
                                maxlength: 18,
                                alnum: true
                            },
                            password_c: {
                                required: true,
                                equalTo: "#password"
                            }
                        },
                        messages: {
                            password: {
                                required: jQuery.format("请填写密码"),
                                minlength: jQuery.format("填写不能小于6个字符"),
                                maxlength: jQuery.format("填写不能大于18个字符")
                            },
                            password_c: {
                                required: jQuery.format("请填写密码"),
                                equalTo: jQuery.format("两次输入的密码不同")
                            }
                        },
                        errorPlacement: function (error, element) {
                            if (element.is(":radio"))
                                error.appendTo(element.parent().next().next());
                            else if (element.is(":checkbox"))
                                error.appendTo(element.next());
                            else
                                error.appendTo(element.parent().parent());
                        }
                    });
                    jQuery.validator.addMethod("alnum", function (value, element) {
                        return this.optional(element) || /^[a-zA-Z0-9]+$/.test(value);
                    }, "只能包括英文字母和数字");
                });
            </script>
            <div class="form_box getpass2">
                <div class="left">
                    <p class="box_title">重置密码</p>
                    <form id="Form1" name="Form1" method="post" action="?act=get_pass_save">
                        <div class="item_box password">
                            <div class="input_box">
                                <input type="password" class="text"  name="password" id="password" placeholder="请输入6-18位数字、字母组成的新密码" value="" />
                            </div>
                        </div>
                        <div class="item_box password2">
                            <div class="input_box">
                                <input type="password" class="text" name="password_c" id="password_c" placeholder="请再次输入密码" value="" />
                            </div>
                        </div>
                        <input name="token" type="hidden" id="token" value="{#$token#}" />
                        <input type="submit" class="submit" value="确定" />
                    </form>
                </div>
                <div class="right">
                    <a title="通过手机号找回" href="/user/user_getpass_mobile.php">通过手机号找回&nbsp;></a>
                </div>
                <div class="clear"></div>
            </div>
            {#/if#}
            <p class="login_tip">已有账号，请<a href="#">登录</a></p>
        </div>
        <p class="copyright">Copyright 2017 &copy; 教师招聘网 粤ICP备 10085786号</p>
    </body>
</html>
