<!doctype html>
<html>
    <head>
        <meta charset="gbk">
        <link rel="shortcut icon" href="/favicon.ico" />
        <link href="{#$QISHI.site_template#}css/base_20170628.css" type="text/css" rel="stylesheet">
        <link href="{#$QISHI.site_template#}css/2017/reg.css" type="text/css" rel="stylesheet">
        <script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>
        <script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
        <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
        <title>注册_{#$QISHI.site_name#}</title>
        <script type="text/javascript">
            //验证
            $(document).ready(function() {
                $("#Form1").validate({
                    submitHandler: function(form) {
                        $.post("/plus/ajax_user.php", {
                            "mobile": $("#mobile").val(),
                            "code": $("#code").val(),
                            "member_type": $("#member_type").val(),
                            "postcaptcha": $("#postcaptcha").val(),
                            "act": "do_reg"},
                        function(data, textStatus) {
                            if (data == "err") {
                                $("#mobile").attr("value", "");
                                $("#code").attr("value", "");
                                $("#postcaptcha").attr("value", "");
                                alert("注册失败");
                            } else {
                                window.location.href = "/user/user_reg.php?act=reg2&type=" + $("#member_type").val() + "&url={#$smarty.get.url#}&act_url={#$smarty.get.act_url#}&tiku_key={#$smarty.get.tiku_key#}&tiku_index={#$smarty.get.tiku_index#}";
                            }
                        })
                        //$(form).ajaxSubmit();
                    },
                    rules: {
                        mobile: {
                            required: true,
                            digits: true,
                            minlength: 11,
                            is_mobile: true,
                            remote: {
                                url: "/plus/ajax_user.php",
                                type: "post",
                                data: {
                                    "mobile": function() {
                                        return $("#mobile").val()
                                    },
                                    "act": "check_mobile"}
                            }
                        },
                        code: {
                            required: true,
                            digits: true,
                            minlength: 4,
                            maxlength: 4,
                            remote: {
                                url: "/plus/ajax_user.php",
                                type: "post",
                                data: {
                                    "mobile": function() {
                                        return $("#mobile").val()
                                    },
                                    "code": function() {
                                        return $("#code").val()
                                    },
                                    "act": "check_code"}
                            }
                        },
                        postcaptcha: {
                            required: true,
                            minlength: 4,
                            remote: {
                                url: "/plus/ajax_user.php",
                                type: "post",
                                data: {
                                    "postcaptcha": function() {
                                        return $("#postcaptcha").val()
                                    },
                                    "act": "check_postcaptcha"}
                            }
                        }
                    },
                    messages: {
                        mobile: {
                            required: "请填写手机号",
                            minlength: "手机号格式错误",
                            digits: "手机号格式错误",
                            remote: jQuery.format("手机号已经存在或者格式错误")
                        },
                        code: {
                            required: "请填写短信验证码",
                            digits: "短信验证码格式错误",
                            minlength: "短信验证码格式错误",
                            maxlength: "短信验证码格式错误",
                            remote: jQuery.format("短信验证码错误")
                        },
                        postcaptcha: {
                            required: "请填写图片验证码",
                            minlength: "图片验证码格式错误",
                            remote: jQuery.format("图片验证码错误")
                        }
                    },
                    errorPlacement: function(error, element) {
                        if (element.is(":radio"))
                            error.appendTo(element.parent().next().next());
                        else if (element.is(":checkbox"))
                            error.appendTo(element.next());
                        else
                            error.appendTo(element.parent().parent());
                    }
                });
                //中文字两个字节
                jQuery.validator.addMethod("byteRangeLength", function(value, element, param) {
                    var length = value.length;
                    for (var i = 0; i < value.length; i++) {
                        if (value.charCodeAt(i) > 127) {
                            length++;
                        }
                    }
                    return this.optional(element) || (length >= param[0] && length <= param[1]);
                }, "确保的值在3-18个字节之间");
                //字符验证
                jQuery.validator.addMethod("userName", function(value, element) {
                    return this.optional(element) || /^[\u0391-\uFFE5\w]+$/.test(value);
                }, "只能包含中英文、数字和下划线");
                jQuery.validator.addMethod("is_mobile", function(value, element) {
                    var tel = /^(1)\d{10}$/;
                    var $cstr = false;
                    if (tel.test(value))
                        $cstr = true;
                    return $cstr || this.optional(element);
                }, "手机号格式错误");
                jQuery.validator.addMethod("IScaptchastr", function(value, element) {
                    var str = "点击获取验证码";
                    var flag = true;
                    if (str == value)
                    {
                        flag = false;
                    }
                    return  flag || this.optional(element);
                }, "请填写验证码");
                /////验证码部分
                function imgcaptcha(inputID, imgdiv)
                {
                    $(inputID).focus(function() {
                        if ($(inputID).val() == "点击获取验证码")
                        {
                            $(inputID).val("");
                            $(inputID).css("color", "#333333");
                        }
                        //设置验证码DIV
                        $(imgdiv).show();
                        if ($(imgdiv).html() == '')
                        {
                            $(imgdiv).append("<img src=\"/include/imagecaptcha.php?t={#$random#}\" id=\"getcode\" align=\"absmiddle\"  style=\"cursor:pointer; margin:3px;\" title=\"看不请验证码？点击更换一张\"  border=\"0\"/>");
                        }
                        $(imgdiv + " img").click(function()
                        {
                            $(imgdiv + " img").attr("src", $(imgdiv + " img").attr("src") + "1");
                            $(inputID).val("");
                            $("#Form1").validate().element("#postcaptcha");
                        });
                        $(document).unbind().click(function(event)
                        {
                            var clickid = $(event.target).attr("id");
                            if (clickid != "getcode" && clickid != "postcaptcha")
                            {
                                $(imgdiv).hide();
                                $(inputID).parent("div").css("position", "");
                                $(document).unbind();
                            }
                        });
                    });
                }
                imgcaptcha("#postcaptcha", "#imgdiv");
                //验证码结束
                //
                $(".but-reg").hover(function() {
                    $(this).addClass("but-reg-hover")
                }, function() {
                    $(this).removeClass("but-reg-hover")
                });
                $(".but-reg-login").hover(function() {
                    $(this).addClass("but-reg-login-hover")
                }, function() {
                    $(this).removeClass("but-reg-login-hover")
                });
                //
                $('#get_code').click(function() {


                    var node = $('label.error');
                    if (node.is(':hidden') || node.length < 1) {
                        //如果node是隐藏的则显示node元素，否则隐藏
                                $.get("/plus/ajax_user.php?act=send_code&mobile=" + $('#mobile').val() + "&postcaptcha=" + $('#postcaptcha').val(), function(data) {
                                    var post = data.indexOf('-');
                                    if (post > 0) {
                                        var data_arr = data.split('-');
                                        alert(data_arr[1])
                                    } else {
                                        timer($('#get_code'));
                                    }
                                })
                    } else {
                        alert('请完善信息')
                    }


                })
                var countdown = 60;
                var t;
                function timer(val) {
                    t = setInterval(function() {
                        settime(val)
                    }, 1000)
                }
                function settime(val) {
                    if (countdown == 0) {
                        clearInterval(t)
                        val.removeAttr("disabled");
                        val.removeClass("disabled");
                        val.html("获取验证码");
                        countdown = 60;
                    } else {
                        val.attr("disabled", true);
                        val.addClass("disabled");
                        val.html("重新获取（<span>" + countdown + "s</span>）");
                        countdown--;
                    }
                }
            });
        </script>
    </head>

    <body>
        <div class="bg_box">
            {#qishi_ad set="调用名称:home_202,列表名:list,显示数目:1"#}
            <!--   以下为循环读取 -->
            {#if !empty($list)#}
            {#foreach from=$list item=li#}
            <img alt="{#$li.alias#}" src="{#$li.img_path#}"/>
            {#/foreach#}
            {#/if#}
        </div>
        <div class="main_box">
            <div class="bg"></div>
            <a title="教师招聘网" class="logo" href="/"></a>
            <div class="form_box reg">
                <div class="left">
                    <p class="box_title">{#if $smarty.get.type=="1"#}招人{#else#}找工作{#/if#}</p>
                    <form id="Form1" name="Form1" method="post" action="?sd">
                        <div class="item_box mobile">
                            <div class="input_box">
                                <input type="text" class="text" name="mobile" id="mobile" placeholder="请输入常用手机号码" value="" />
                            </div>
                        </div>
                        <div class="item_box img_code">
                            <div class="input_box">
                                <input type="text" class="text" name="postcaptcha" id="postcaptcha" placeholder="请输入右侧验证码" value="" />
                                <div id="imgdiv"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="item_box text_code">
                            <div class="input_box">
                                <input type="text" class="text" name="code" id="code" placeholder="请输入数字验证码" value="" />
                                <a id="get_code"  >获取验证码</a>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <input name="member_type" type="hidden" id="member_type" value="{#$smarty.get.type|default:2#}" />
                        <input type="submit" class="submit" value="注册" />                    
                        <p class="agreement">注册代表已同意<a href="/agreement">《教师招聘网用户服务协议》</a></p>
                    </form>
                </div>
                <div class="right">
                    {#if $smarty.get.type=="2"#}
                    <a class="to_company" href="/user/user_reg.php?act=reg&type=1">我要招聘&nbsp;></a>
                    {#else#}
                    <a class="to_company" href="/user/user_reg.php?act=reg&type=2">我要找工作&nbsp;></a>
                    {#/if#}
                    <div class="clear"></div>
                    <p class="to_login">已有账号，直接<a href="/user/login.php">登录</a></p>
                    <div class="clear"></div>
                    {#if $QISHI.qq_apiopen=="1" || $QISHI.sina_apiopen=="1"  || $QISHI.taobao_apiopen=="1"#}
                    <div class="other_login">
                        <p>快捷登录方式：</p>
                        <ul>
                            {#if $QISHI.qq_apiopen=="1"#}
                            <li><a class="weibo" href="/user/connect_sina.php?tiku_key={#$smarty.get.tiku_key#}&tiku_index={#$smarty.get.tiku_index#}"></a></li>
                            {#/if#}
                            {#if $QISHI.wx_login_apiopen=="1"#}
                            <li>
                                <a class="wechat" href="/user/connect_wechat.php?tiku_key={#$smarty.get.tiku_key#}&tiku_index={#$smarty.get.tiku_index#}"></a>
                                <div id="login_container" data="0"></div>
                            </li>    
                            {#/if#}
                            {#if $QISHI.qq_apiopen=="1"#}
                            <li><a class="qq" href="/user/{#if $QISHI.qq_logintype=='1'#}connect_qq_client.php{#else#}connect_qq_server.php{#/if#}?tiku_key={#$smarty.get.tiku_key#}&tiku_index={#$smarty.get.tiku_index#}"></a></li>
                            {#/if#}
                        </ul>
                    </div>
                    {#/if#}
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <p class="login_tip">已有账号，请<a href="/user/login.php">登录</a></p>
            </div>
            <p class="copyright">Copyright 2017 &copy; 教师招聘网 粤ICP备 10085786号</p>
    </body>
</html>

