<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>浏览器不兼容</title>
<link rel="shortcut icon" href="{#$QISHI.main_domain#}favicon.ico" />
<meta name="author" content="骑士CMS" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/low_browser.css" rel="stylesheet" type="text/css" />
</head>
<body>
{#include file="header.htm"#}
<!-- 当前位置 -->
	<!-- 主体内容 -->
<div class="clear"></div>
	<div class="main_box low_browser">
    <p class="p1">很抱歉，您的浏览器版本太低…</p>
    <p class="p2">请升级至IE8以上版本或<span>下载以下浏览器</span></p>
    <ul>
        <li>
        	<img src="/templates/default/images/chrome.png" />
            <p>chrome</p>
            <a href="#">下载</a>
        </li>
        <li>
        	<img src="/templates/default/images/360.png" />
            <p>360浏览器</p>
            <a href="#">下载</a>
        </li>
        <li>
        	<img src="/templates/default/images/sogou.png" />
            <p>搜狗浏览器</p>
            <a href="#">下载</a>
        </li>
        <li>
        	<img src="/templates/default/images/firefox.png" />
            <p>FireFox</p>
            <a href="#">下载</a>
        </li>
	</ul>
</div>
<div class="clear"></div>
	<!-- 主体内容 结束 -->
{#include file="footer.htm"#}	
</body>
</html>