#content { background:url(../images/bg.jpg) no-repeat; padding:40px 0px 40px 0px; min-height: 658px; background-color: #ffefd8;}
#content .left_box{ padding:40px 20px 40px 20px; width:840px; float:left; background:#fff; position:relative;}
#content .left_box p.resume_title{ font-size:20px; color:#333; margin:0px 0px 20px 0px;}
#content .left_box .base_box{ margin:0px 0px 60px 0px;}
#content .left_box .base_box div.left{ margin:0px 40px 0px 0px; width:122px;}
#content .left_box .base_box div.right{ width:678px;}
#content .left_box .base_box li{ float:left; width:215px; margin:0px 10px 20px 0px; height:15px; overflow:hidden;}
#content .left_box .base_box li label{ color:#808080;}
#content .left_box .base_box li span{ color:#808080;}
#content .left_box .base_box li.label{ width:440px;}
#content .left_box .base_box li.label label{ color:#188eee;}
#content .left_box .base_box li.label span{ color:#188eee; margin:0px 15px 0px 0px;}
#content .left_box .base_box li.profile{ width:668px; height:auto;}
#content .left_box .base_box div.contact a{ display:inline-block; width:122px; height:44px; line-height:44px; color:#fff; text-align:center; float:left; border-radius:5px; background:#f3711a; font-size:16px;}
#content .left_box .base_box div.contact a:hover{ opacity:0.8;}
#content .left_box .base_box div.contact p{ float:left; margin:10px 40px 0px 0px;}
#content .left_box .base_box div.contact p span{ font-size:16px; color:#808080;}
#content .left_box .base_box div.contact p label{ font-size:16px; color:#188eee;}
#content .left_box div.box_title{ width:100%; height:40px; border-bottom:3px solid #ebebeb; position:relative; margin:50px 0px 15px 0px;}
#content .left_box div.box_title p{ padding:0px 10px 0px 0px; height:40px; line-height:40px; border-bottom:3px solid #f3711a; font-size:20px; color:#333; display:inline-block;}

#content .left_box .intention_box li{ width:100%; margin:0px 0px 15px 0px;}
#content .left_box .intention_box li p{ font-size:14px; color:#808080;}
#content .left_box .intention_box li span{ margin:0px 15px 0px 0px; font-size:14px; color:#808080;}

#content .left_box .education_box li{ width:100%; margin:0px 0px 15px 0px;}
#content .left_box .education_box li span{ display:inline-block; width:195px; height:15px; line-height:15px; font-size:14px; color:#808080; margin:0px 10px 0px 0px;}

#content .left_box .jobs_box li{ width:100%; padding:0px 0px 10px 0px; border-bottom:1px dotted #ebebeb; margin:0px 0px 30px 0px;}
#content .left_box .jobs_box li p{ font-size:14px; color:#808080; margin:0px 0px 10px 0px;}
#content .left_box .jobs_box li p.company{ color:#333;}
#content .left_box .jobs_box li p.des{ line-height:25px;}

#content .left_box .training_box li{ width:100%; padding:0px 0px 10px 0px; border-bottom:1px dotted #ebebeb; margin:0px 0px 30px 0px;}
#content .left_box .training_box li p{ font-size:14px; color:#808080; margin:0px 0px 10px 0px;}
#content .left_box .training_box li p.school{ color:#333;}
#content .left_box .training_box li p.course span{ color:#333; font-size:14px;}
#content .left_box .training_box li p.des span{ color:#333; font-size:14px; line-height:25px;}

#content .left_box .certificate_box li{ float:left; margin:0px 20px 20px 0px;}
#content .left_box .certificate_box li img{ height:120px;}
#content .left_box .certificate_box li p{ font-size:14px; color:#808080; text-align:center; line-height:35px;}

#content .left_box .attachment_box div.box_content{ text-align: center;}
#content .left_box .attachment_box div.box_content a{ display: inline-block; width: 145px; height: 45px; text-align: center; line-height: 45px; font-size: 16px; color: #fff; background: #f3711a; border-radius: 5px; overflow: hidden; margin: 20px 0 0 0px;}
#content .left_box .attachment_box div.box_content a:hover{ opacity: 0.6;}
#content .left_box .attachment_box div.box_content p{ font-size: 14px; color: #333; text-align: center; margin: 20px 0 0 0px; }
#content .left_box .certificate_box li p{ font-size:14px; color:#808080; text-align:center; line-height:35px;}

#content .left_box i.senior_logo{ display:inline-block; position:absolute; top:20px; right:20px; width:63px; height:52px; background:url(../../../default/images/2017/senior_icon2.png) no-repeat; background-size:63px 52px;;}


#content .right_box{ width:280px; float:right;}
#content .right_box .invited_box{ width:280px; height:60px;}
#content .right_box .invited_box a{ display:block; background:#f3711a; font-size:24px; color:#fff; line-height:60px; text-align:center;}
#content .right_box .invited_box a:hover{ opacity:0.8;}

#content .right_box .bt_box{ padding:25px 60px 25px 60px; background:#fff; margin:10px 0px 0px 0px;}
#content .right_box .bt_box a{ display:block; width:120px; height:35px; padding:15px 0px 0px 40px; color:#fff; margin:0px 0px 10px 0px; background:#f3711a; border-radius:5px;}
#content .right_box .bt_box a:hover{ opacity:0.8;}
#content .right_box .bt_box a i{ display:inline-block; float:left; margin:0px 5px 0px 0px;}
#content .right_box .bt_box a span{ display:inline-block; float:left; line-height:17px;}
#content .right_box .bt_box a.download i{ width:17px; height:17px; background: url(../../../default/images/2017/download_icon.png);}
#content .right_box .bt_box a.add_resume_pool i{ width:17px; height:15px; background: url(../../../default/images/2017/add_resume_pool_icon.png);}
#content .right_box .bt_box a.print i{ width:17px; height:16px; background: url(../../../default/images/2017/print_icon.png);}
#content .right_box .bt_box a.dianping i{ width:17px; height:17px; background: url(../../../default/images/2017/export_icon.png);}




