{#qishi_news_list set="列表名:news,显示数目:20,分页显示:1,省份:GET[parent_py],地区:GET[district],排序:refreshtime>desc,摘要长度:85,填补字符:...,时间格式:Y-m-d,标题长度:50,关键字:GET[keyword],伪关键:GET[Position],地区中文:GET[City]"#}
<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
        <meta name="Author" content="教师招聘网" />
        <meta name="Copyright" content="教师招聘网">
        <link href="{#$QISHI.site_template#}css/2019/base.css" type="text/css" rel="stylesheet"/>
        <link href="{#$QISHI.site_template#}css/2019/article_list.css" type="text/css" rel="stylesheet"/>
        <script src="{#$QISHI.site_template#}js/2019/jq-1.11.1.js" type="text/javascript" language="javascript"></script>

        {#if empty($district.categoryname)#}
        <title>{#$smarty.now|date_format:"%Y"#}年事业单位编制招聘_特岗教师招聘_{#$QISHI.site_name#}</title>
        {#else#}
        <title>{#$smarty.now|date_format:"%Y"#}年{#$district.categoryname#}教师编制招聘考试_{#$district.categoryname#}特岗教师招聘_{#$district.categoryname#}{#$QISHI.site_name#}</title>
        {#/if#}

        {#if empty($district.categoryname)#}
        <meta name="keywords" content="教师编制招聘,教师编制考试,教师考编报名,公办教师招聘,特岗教师招聘,教师招聘考试"/>
        {#else#}
        <meta name="keywords" content="{#$district.categoryname#}教师编制招聘,{#$district.categoryname#}教师编制考试,{#$district.categoryname#}特岗教师招聘,{#$district.categoryname#}公办教师招聘,{#$district.categoryname#}事业单位招聘,{#$district.categoryname#}教师招聘考试,{#$district.categoryname#}教师招聘网"/>
        {#/if#}

        {#if empty($district.categoryname)#}
        <meta name="description" content="{#$smarty.now|date_format:'%Y'#}年全国公办学校教师编制招聘考试信息，包括各地事业单位招聘、公办学校招聘、特岗教师招聘及免费师范生招聘信息。{#$smarty.now|date_format:'%Y'#}年教师编制考试与考编报名信息，就来教师招聘网。"/>
        {#else#}
        <meta name="description" content="{#$smarty.now|date_format:'%Y'#}年{#$district.categoryname#}教师编制招聘考试信息，含{#$district.categoryname#}公办教师招聘，{#$district.categoryname#}教师编制考试信息，{#$district.categoryname#}教师考编报名时间与报名方式，免费查询{#$district.categoryname#}特岗教师招聘，{#$district.categoryname#}事业单位招聘信息，就来{#$district.categoryname#}教师招聘网。"/>
        {#/if#}
    </head>

    <body id="article_district_list">
        {#include file="/2017/header.htm"#}
        <div class="clear"></div>
        <div id="content">
            <div class="main_box">
                <div class="top_box">
                    <div class="sdistrict_box">
                        <label>城市快捷入口</label>
                        <div class="clear"></div>
                        <ul class="city_list">
                            {#jiaoshi_districts set="父地区id:$district.id,列表名:city,数目:8,热度排序:desc,后台排序:desc,类别:城市"#}
                            <!-- 以下为循环数组category内容  -->
                            {#foreach from=$city item=c#}
                            <li><a href="{#if !empty($c.parent_pinyin)#}/{#$c.parent_pinyin#}{#/if#}/{#$c.pinyin#}" title="{#$c.categoryname#}教师招聘网" target="_blank">{#$c.categoryname#}</a></li>
                            {#/foreach#}
                            <li class="more_bt"><a id="city_more">更多</a></li>
                            <li class="hide_line"></li>
                        </ul>
                        <ul class="city_more">
                            {#jiaoshi_districts set="父地区id:$district.id,列表名:city,数目:100,热度排序:desc,后台排序:desc,类别:城市"#}
                            <!-- 以下为循环数组category内容  -->
                            {#foreach from=$city item=c#}
                            <li><a href="{#if !empty($c.parent_pinyin)#}/{#$c.parent_pinyin#}{#/if#}/{#$c.pinyin#}" title="{#$c.categoryname#}教师招聘网" target="_blank">{#$c.categoryname#}</a></li>
                            {#/foreach#}
                            <li class="more_bt"><a id="city_list">关闭</a></li>
                            <li class="hide_line"></li>
                        </ul>
                        <script>
                            $('a#city_more').click(function() {
                                $('.city_list').hide();
                                $('.city_more').show();
                            })
                            $('a#city_list').click(function() {
                                $('.city_list').show();
                                $('.city_more').hide();
                            })
                        </script>
                    </div>
                    <div class="search_box">
                        <div class="search">
                            <form id="search_jobs_form" action="/jobs/jobs-list.php" method="get">
                                <input class="keyword" type="text" name="key" placeholder="请输入职位关键字" value="" />
                                <div class="right">
                                    <b></b>
                                    <button class="city_bt">全国&nbsp;&nbsp;+</button>
                                    <input type="hidden" id="district_id" name="district_id" value="" />
                                    <input class="submit" type="submit" value="" />
                                </div>
                            </form>
                            <div class="district_list">
                                <div class="top">
                                    <p class="hot hover">热门城市</p>
                                    <p class="district">省份</p>
                                    <p class="sdistrict">市级</p>
                                </div>
                                <div id="show_hot" class="list son">
                                    {#jiaoshi_districts set="列表名:city,数目:24,热度排序:desc,后台排序:desc,类别:城市"#}
                                    <!-- 以下为循环数组category内容  -->
                                    {#foreach from=$city item=c#}
                                    <a data-name="district" data-val="{#$c.parentid#}.{#$c.id#}">{#$c.categoryname#}</a>
                                    {#/foreach#}
                                </div>
                                <div id="show_district" class="list">
                                    <a data-name="district" data-val="" title="全国教师招聘">全国</a>
                                    {#jiaoshi_districts set="列表名:city,后台排序:desc,类别:省份"#}
                                    <!-- 以下为循环数组category内容  -->
                                    {#foreach from=$city item=c#}
                                    <a data-name="district" data-data="{#$c.id#}" data-val="{#$c.parentid#}.{#$c.id#}" title="{#$c.categoryname#}教师招聘">{#$c.categoryname#}</a>
                                    {#/foreach#}
                                </div>
                                <div id="show_sdistrict" class="list son"></div>
                            </div>
                            <script>
                                $('.search_box .district_list #show_hot').show();
                                $('.search_box .city_bt').click(function() {
                                    $('.search_box .district_list').show();
                                    return false;
                                })
                                $('div.search_box').mouseleave(function() {
                                    $('.search_box .district_list').hide();
                                })
                                $('.search_box .district_list .top p').click(function() {
                                    $('.search_box .district_list .list').hide();
                                    $('.search_box .district_list .top p.sdistrict').hide();
                                    $('.search_box .district_list .top p').removeClass('hover');
                                    var c = $(this).attr('class');
                                    $(this).addClass('hover');
                                    $('.search_box #show_' + c).show();
                                })
                                $('.search_box #show_district a').click(function() {
                                    var name = $(this).attr('data-name');
                                    var val = $(this).attr('data-data');
                                    $.get("/plus/ajax_common.php?act=get_city&id=" + val, function(result) {
                                        var html = '';
                                        if (result.indexOf('||') > 0) {
                                            var arr = result.split("||");
                                        } else {
                                            var arr = new Array(result);
                                        }

                                        for (var i = 0; i < arr.length; i++) {
                                            var item = arr[i].split("-");
                                            if (item[3] != 0) {
                                                html += '<a data-name="district" title="' + item[1] + '中小学教师招聘" data-val="' + item[4] + '.' + item[0] + '" >' + item[1] + '</a>';
                                            } else {
                                                html += '<a data-name="district" title="' + item[4] + '中小学教师招聘" data-val="' + item[0] + '.' + item[5] + '" >' + item[1] + '</a>';
                                            }
                                        }

                                        $('.search_box #show_sdistrict').html(html);
                                        $('.search_box .district_list .list').hide();
                                        $('.search_box .district_list .top p').removeClass('hover');
                                        $('.search_box .district_list .top p.sdistrict').addClass('hover');
                                        $('.search_box .district_list .top p.sdistrict').show();
                                        $('.search_box #show_sdistrict').show();
                                    });

                                })
                                $('.search_box .district_list .son').on('click', 'a', function() {
                                    $('.search_box input#district_id').attr('value', $(this).attr('data-val'));
                                    $('.search_box .city_bt').html($(this).html() + '&nbsp;&nbsp;+');
                                    $('.search_box .district_list').hide();
                                });
                            </script>
                        </div>
                        <ul>
                            <li><span>热搜职位：</span></li>
                            <li><a target="_blank" title="幼儿英语教师" href="/jobs/jobs-list.php?jobs_id=59&index_search=1">幼儿英语 </a></li>
                            <li><a target="_blank" title="幼儿美术教师" href="/jobs/jobs-list.php?jobs_id=62&index_search=1">幼儿美术 </a></li>
                            <li><a target="_blank" title="小学语文教师" href="/jobs/jobs-list.php?jobs_id=8&index_search=1">小学语文 </a></li>
                            <li><a target="_blank" title="初中英语教师" href="/jobs/jobs-list.php?jobs_id=234&index_search=1">初中英语 </a></li>
                            <li><a target="_blank" title="初中数学教师" href="/jobs/jobs-list.php?jobs_id=233&index_search=1">初中数学 </a></li>
                            <li><a target="_blank" title="高中英语教师" href="/jobs/jobs-list.php?jobs_id=259&index_search=1">高中英语 </a></li>
                            <li><a target="_blank" title="高中数学教师" href="/jobs/jobs-list.php?jobs_id=258&index_search=1">高中数学 </a></li>
                            <li><a target="_blank" title="职业教育/培训教师" href="/jobs/jobs-list.php?jobs_id=4&index_search=1">职业教育/培训 </a></li>
                            <li><a target="_blank" title="钢琴老师教师" href="/jobs/jobs-list.php?jobs_id=212&index_search=1">钢琴老师 </a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                {#if $smarty.get.parent_py != "morejobs"#}
                <div class="clear"></div>
                <div class="top_ad_box">
                    <div class="top">
                        <div class="left">
                            <!-- height:(190-(n-1)*10)/n;  width:595 -->
                            {#qishi_ad set="调用名称:list_305,列表名:list,显示数目:1000,地区:GET[parent_py]"#}
                            <!--   以下为循环读取 -->
                            {#foreach from=$list item=li#}                            
                            <a title="{#$li.img_explain_#}" target="blank" href="/ad_count/index.php?ad_name=list_305&img={#$li.img_path#}&url={#$li.img_url#}"><img src="{#$li.img_path#}" /></a>
                            {#/foreach#}
                        </div>
                        <div class="right">
                            <!-- height:(190-(n-1)*10)/n;  width:595 -->
                            {#qishi_ad set="调用名称:list_306,列表名:list,显示数目:1000,地区:GET[parent_py]"#}
                            <!--   以下为循环读取 -->
                            {#foreach from=$list item=li#}                            
                            <a title="{#$li.img_explain_#}" target="blank" href="/ad_count/index.php?ad_name=list_306&img={#$li.img_path#}&url={#$li.img_url#}"><img src="{#$li.img_path#}" /></a>
                            {#/foreach#}
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="box">
                            <!-- height:90;  width:(1200-(n-1)*10)/n -->
                            {#qishi_ad set="调用名称:list_307,列表名:list,显示数目:1000,省份:GET[parent_py]"#}
                            <!--   以下为循环读取 -->
                            {#foreach from=$list item=li#}                            
                            <a title="{#$li.img_explain_#}" target="blank" href="/ad_count/index.php?ad_name=list_307&img={#$li.img_path#}&url={#$li.img_url#}"><img src="{#$li.img_path#}" /></a>
                            {#/foreach#}
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="recommend_box">
                    <div class="box_title">
                        <div class="type_tab">
                            <a class="hot_bt hover" href="/TeachingJobs?listpage=jobs_list">热门职位</a>
                            <a class="emergency_bt " href="/TeachingJobs/emergency?listpage=jiaoshi_emergency_list">急聘职位</a>
                            <a class="recommend_bt" href="/TeachingJobs/recommend?listpage=jiaoshi_recommend_list">推荐职位</a>
                        </div>
                    </div>
                    <div id="emergency_bt_box" class="box_list">
                        <ul>
                            {#qishi_jobs_list  set="显示数目:6,列表名:jobslist,填补字符:...,职位名长度:13,职位状态:2,地区大类:$district.id"#}
                            {#foreach from=$jobslist item=list#}
                            {#if $list.jobs_name != ''#}
                            <li>
                                <div class="top">
                                    <a class="name" href="{#$list.jobs_url#}" title="{#$list.d_cn#}{#$list.jobs_name#}招聘" target="_blank">{#$list.jobs_name#}</a>
                                    <span class="wage">{#$list.wage_cn#}</span>
                                    <div class="clear"></div>
                                    <p class="info">{#$list.d_cn#} / {#$list.experience_cn#} / {#$list.education_cn|default:"不限"#} / {#$list.amount#}人</p>
                                </div>
                                <div class="bottom">
                                    <span class="company">{#$list.companyname#}</span>
                                </div>
                            </li>
                            {#/if#}
                            {#/foreach#}
                        </ul>
                        <a href="/TeachingJobs/emergency?listpage=jiaoshi_emergency_list" class="more_list">查看更多</a>
                    </div>
                    <div id="recommend_bt_box" class="box_list">
                        <ul>
                            {#qishi_jobs_list  set="显示数目:6,列表名:jobslist,填补字符:...,职位名长度:13,职位状态:1,地区大类:$district.id"#}
                            {#foreach from=$jobslist item=list#}
                            {#if $list.jobs_name != ''#}
                            <li>
                                <div class="top">
                                    <a class="name" href="{#$list.jobs_url#}" title="{#$list.d_cn#}{#$list.jobs_name#}招聘" target="_blank">{#$list.jobs_name#}</a>
                                    <span class="wage">{#$list.wage_cn#}</span>
                                    <div class="clear"></div>
                                    <p class="info">{#$list.d_cn#} / {#$list.experience_cn#} / {#$list.education_cn|default:"不限"#} / {#$list.amount#}人</p>
                                </div>
                                <div class="bottom">
                                    <span class="company">{#$list.companyname#}</span>
                                </div>
                            </li>
                            {#/if#}
                            {#/foreach#}
                        </ul>
                        <a href="/TeachingJobs/recommend?listpage=jiaoshi_recommend_list" class="more_list">查看更多</a>
                    </div>
                    <div id="hot_bt_box" class="box_list" style="display: block;">
                        <ul>
                            {#qishi_jobs_list  set="显示数目:6,列表名:jobslist,填补字符:...,职位名长度:13,排序:hot>desc,地区大类:$district.id"#}
                            {#foreach from=$jobslist item=list#}
                            {#if $list.jobs_name != ''#}
                            <li>
                                <div class="top">
                                    <a class="name" href="{#$list.jobs_url#}" title="{#$list.d_cn#}{#$list.jobs_name#}招聘" target="_blank">{#$list.jobs_name#}</a>
                                    <span class="wage">{#$list.wage_cn#}</span>
                                    <div class="clear"></div>
                                    <p class="info">{#$list.d_cn#} / {#$list.experience_cn#} / {#$list.education_cn|default:"不限"#} / {#$list.amount#}人</p>
                                </div>
                                <div class="bottom">
                                    <span class="company">{#$list.companyname#}</span>
                                </div>
                            </li>
                            {#/if#}
                            {#/foreach#}
                        </ul>
                        <a href="/TeachingJobs?listpage=jobs_list" class="more_list">查看更多</a>
                    </div>
                    <script>
                        $('.recommend_box .box_title a').mouseover(function() {
                            $('.recommend_box .box_title a').removeClass('hover');
                            var str = $(this).attr('class')
                            $(this).addClass('hover');
                            $('.recommend_box .box_list').hide();
                            $('.recommend_box #' + str + '_box').show();
                        })
                    </script>
                </div>
                <div class="right_ad_box">
                    <!-- height:(488-(n-1)*10)/n;  width:292.5 -->
                    {#qishi_ad set="调用名称:list_308,列表名:list,显示数目:2,地区:GET[district]"#}
                    <!--   以下为循环读取 -->
                    {#foreach from=$list item=li#}                            
                    <a title="{#$li.img_explain_#}" target="blank" href="/ad_count/index.php?ad_name=list_308&img={#$li.img_path#}&url={#$li.img_url#}"><img src="{#$li.img_path#}" /></a>
                    {#/foreach#}
                </div>

                {#/if#}
                <div class="clear"></div>
                <div class="bottom_ad_box">
                    <div class="box">
                        <!-- height:90;  width:(1200-(n-1)*10)/n -->
                        {#qishi_ad set="调用名称:list_309,列表名:list,显示数目:10,省份:GET[parent_py]"#}
                        <!--   以下为循环读取 -->
                        {#foreach from=$list item=li#}                            
                        <a title="{#$li.img_explain_#}" target="blank" href="/ad_count/index.php?ad_name=list_309&img={#$li.img_path#}&url={#$li.img_url#}"><img src="{#$li.img_path#}" /></a>
                        {#/foreach#}
                    </div>
                </div>
                <div class="clear"></div>
                <div class="news_box">
                    <div class="box_title">
                        <div class="type_tab">
                            <span>最新事业单位招聘招考信息</span>
                        </div>
                    </div>

                    {#if $smarty.get.parent_py != "news_b_list"#}

                    <ul class="news_list">
                        {#foreach from=$news item=list#}
                        <li>
                            <div class="location">
                                <i></i>
                                <div class="clear"></div>
                                {#if $list.parent_pinyin!='' #}
                                <a target="_blank" title="{#$list.district_cn#}教师招聘网" href="/{#$list.parent_pinyin#}/{#$list.district_pinyin#}" >{#$list.district_cn#}</a>
                                {#else#}
                                <a target="_blank" title="{#$list.district_cn#}教师招聘网" href="/{#$list.district_pinyin#}">{#$list.district_cn#}</a>
                                {#/if#}
                            </div>
                            <div class="info">
                                <div class="title">
                                    <h2><a class="title" href="{#$list.url#}" target="_blank" title="{#$list.title_#}">{#$list.title#}</a></h2>
                                    {#if $list.click > 1000#}<i class="hot"></i>{#/if#}
                                    {#if $list.top_flag ==1#}<i class="top"></i>{#/if#}
                                    {#if $list.emergency_flag ==1#}<i class="emergency"></i>{#/if#}
                                </div>
                                <div class="clear"></div>
                                {#if !empty($list.jobs_list)#}
                                <ul class="job">
                                    {#foreach from=$list.jobs_list item=j#}
                                    <li><a title="{#$j.job_name#}招聘" href="{#$j.url#}">{#$j.job_name#}（<span>{#$j.amount#}</span>）</a></li>
                                    {#/foreach#}
                                </ul>
                                <div class="clear"></div>
                                {#/if#}
                                <div class="other">
                                    <span class="date"><i></i>{#$list.refreshtime#}</span>
                                    {#if $list.is_url == 0#}<span class="click"><i></i>{#$list.click#}</span>{#/if#}
                                </div>
                            </div>
                            <div class="clear"></div>
                        </li>
                        {#/foreach#}
                    </ul>
                    {#else#}
                    <ul class="news_b_list">
                        <script>
                            $.get('http://news.91jiaoshi.com/news/get_news_list_json/0/50', function(data) {
                                if (data != "") {
                                    var list_str = "";
                                    for (var i = 0; i < data.length; i++) {
                                        list_str = list_str + '<li>';
                                        list_str = list_str + '<div class="left">';
                                        list_str = list_str + '<div class="title">';
                                        list_str = list_str + '<h2><a class="title" href="/' + data[i].type.pinyin + '/' + data[i].id + '.html" target="_blank" title="' + data[i].title + '">' + data[i].title + '</a></h2>';
                                        list_str = list_str + '</div>';
                                        list_str = list_str + '</div>';
                                        list_str = list_str + '<div class="date">';
                                        list_str = list_str + '<span>' + data[i].add_time_cn + '</span>';
                                        list_str = list_str + '</div>';
                                        list_str = list_str + '</li>';
                                    }
                                    $('ul.news_b_list').html(list_str)
                                }
                            }, 'json')
                        </script>
                    </ul>
                    {#/if#}
                </div>
                {#if $page && $smarty.get.parent_py != "news_b_list"#}
                <ul class="page_box">
                    {#$page#}
                </ul>
                {#/if#}
            </div>
        </div>
        <div class="clear"></div>
        <div class="window_box">
            <div class="window">
                <a class="close"></a>
                <div class="clear"></div>
                <ul>
                    <li>
                        <img src="{#$QISHI.site_template#}images/2019/li_code_img.jpg" width="120" height="120" />
                        <p>顾问：李经理</p>
                        <p>020-37277119</p>
                        <p>6210210</p>
                        <p>18565230815</p>
                    </li>
                    <li>
                        <img src="{#$QISHI.site_template#}images/2019/vv_code_img.jpg" width="120" height="120" />
                        <p>运营：小李</p>
                        <p>020-37277119</p>
                        <p>969078455</p>
                        <p>18565230815</p>
                    </li>
                    <li>
                        <img src="{#$QISHI.site_template#}images/2019/fan_code_img.jpg" width="120" height="120" />
                        <p>客服：帆帆</p>
                        <p>020-37277119</p>
                        <p>3571928718</p>
                        <p>15322099258</p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="bg"></div>
            <script>
                $('.window_box .close').click(function() {
                    $('.window_box').hide();
                })
                $('.window_box .bg').click(function() {
                    $('.window_box').hide();
                })
            </script>
        </div>
        <div class="clear"></div>
        {#qishi_ad set="调用名称:list_310,列表名:list,显示数目:1,省份:GET[parent_py]"#}
        {#if !empty($list)#}
        <div class="side_fix_ad_box">
            <!--   以下为循环读取 -->
            {#foreach from=$list item=li#}                            
            <a title="{#$li.img_explain_#}" target="blank" href="/ad_count/index.php?ad_name=list_310&img={#$li.img_path#}&url={#$li.img_url#}"><img src="{#$li.img_path#}" width="120" height="120" /></a>
            {#/foreach#}
        </div>
        {#/if#}
        {#qishi_ad set="调用名称:list_311,列表名:list,显示数目:1,省份:GET[parent_py]"#}
        {#if !empty($list)#}
        <div class="bottom_fix_ad_box">
            <a class="close"></a>
            <!--   以下为循环读取 -->
            {#foreach from=$list item=li#}                            
            <a title="{#$li.img_explain_#}" target="blank" href="/ad_count/index.php?ad_name=list_311&img={#$li.img_path#}&url={#$li.img_url#}"><img src="{#$li.img_path#}" /></a>
            {#/foreach#}
            <script>
                $('.bottom_fix_ad_box a.close').click(function() {
                    $('.bottom_fix_ad_box').hide();
                })
            </script>
        </div>
        {#/if#}

        {#include file="/2019/footer_list.htm"#}
    </body>
</html>
