<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
        <link href="{#$QISHI.site_template#}css/2017/suggest.css" type="text/css" rel="stylesheet"/> 
        <title>意见反馈_{#$QISHI.site_name#}</title>
        <meta name="description" content="{#$show.description#}"/>
        <meta name="keywords" content="{#$show.keywords#}"/>
        <meta name="author" content="{#$QISHI.site_name#}" />
        <meta name="copyright" content="jiaoshizhaopin.net" />
    </head>

    <body>
        {#include file="/2017/header.htm"#}
        <script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
        <script src="{#$QISHI.site_template#}js/jquery.metadata.js" type='text/javascript' language="javascript"></script>
        <script type="text/javascript">
            //验证
            $().ready(function () {
                $("#Form1").validate({
                    // debug: true,
                    // onsubmit:false,
                    //onfocusout :true,
                    rules: {
                        feedback: {
                            required: true
                        },
                        tel: {
                            required: true
                        },
                        postcaptcha: {
                            IScaptchastr: true,
                            required: true,
                            remote: {
                                url: "/include/imagecaptcha.php",
                                type: "post",
                                data: {"postcaptcha": function () {
                                        return $("#postcaptcha").val()
                                    }, "act": "verify", "time": function () {
                                        return new Date().getTime()
                                    }}
                            }
                        }
                    },
                    messages: {
                        feedback: {
                            required: "请输入内容"
                        },
                        tel: {
                            required: "请输入联系方式"
                        },
                        postcaptcha: {
                            required: "请填写验证码",
                            remote: jQuery.format("验证码错误")
                        }
                    },
                    errorPlacement: function (error, element) {
                        if (element.is(":radio"))
                            error.appendTo(element.parent().next().next());
                        else if (element.is(":checkbox"))
                            error.appendTo(element.next());
                        else if (element.is(":text"))
                            error.appendTo(element.parents('.pbox'));
                        else
                            error.appendTo(element.parent());
                    }
                });
                jQuery.validator.addMethod("IScaptchastr", function (value, element) {
                    var str = "点击获取验证码";
                    var flag = true;
                    if (str == value)
                    {
                        flag = false;
                    }
                    return  flag || this.optional(element);
                }, "请填写验证码");
                function imgcaptcha(inputID, imgdiv)
                {
                    $(inputID).focus(function () {
                        if ($(inputID).val() == "点击获取验证码")
                        {
                            $(inputID).val("");
                            $(inputID).css("color", "#333333");
                        }
                        $(inputID).parent("div").css("position", "relative");
                        //设置验证码DIV
                        //$(imgdiv).css({position: "absolute", left: $(inputID).width(), "bottom": "0px", "z-index": "10", "background-color": "#FFFFFF", "border": "1px #A3C8DC solid", "display": "none", "margin-left": "15px"});
                        $(imgdiv).show();
                        if ($(imgdiv).html() == '')
                        {
                            $(imgdiv).append("<img src=\"{#$QISHI.main_domain#}include/imagecaptcha.php?t={#$random#}\" id=\"getcode\" align=\"absmiddle\"  style=\"cursor:pointer; margin:3px;\" title=\"看不请验证码？点击更换一张\"  border=\"0\"/>");
                        }
                        $(imgdiv + " img").click(function ()
                        {
                            $(imgdiv + " img").attr("src", $(imgdiv + " img").attr("src") + "1");
                            $(inputID).val("");
                            $("#Form1").validate().element("#postcaptcha");
                        });
                        $(document).unbind().click(function (event)
                        {
                            var clickid = $(event.target).attr("id");
                            if (clickid != "getcode" && clickid != "postcaptcha")
                            {
                                $(imgdiv).hide();
                                $(inputID).parent("div").css("position", "");
                                $(document).unbind();
                            }
                        });
                    });
                }
                imgcaptcha("#postcaptcha", "#imgdiv");
            });

        </script>
        <div id="content">
            <div class="main_box">
                <p class="nav">
                    <a title="教师招聘网" href="/">教师招聘网</a>
                    &nbsp;>&nbsp;
                    <span>意见反馈</span>
                </p>
                <div class="left_box">
                    <div class="box_title">
                        <a class="cur">意见反馈</a>
                    </div>
                    <div class="box_content">

                        <form action="suggest_submit.php" method="post" id="Form1" >
                            <div class="type_box">
                                <label>意见类型：</label>
                                <ul>
                                    <li>
                                        <input class="left {#if $infotype == '1' #}checked{#/if#}" type="radio" name="infotype" value="1" {#if $infotype == "1" #} checked="checked"{#/if#} />
                                               <span>建议</span>
                                    </li>
                                    <li>
                                        <input class="left {#if $infotype == '2' #}checked{#/if#}" type="radio" name="infotype" value="2" {#if $infotype == "2" #} checked="checked"{#/if#} />
                                               <span>意见</span>
                                    </li>
                                    <li>
                                        <input class="left {#if $infotype == '3' #}checked{#/if#}" type="radio" name="infotype" value="3" {#if $infotype == "3" #} checked="checked"{#/if#} />
                                               <span>求助</span>
                                    </li>
                                    <li>
                                        <input class="left {#if $infotype == '4' #}checked{#/if#}" type="radio" name="infotype" value="4" {#if $infotype == "4" #} checked="checked"{#/if#} />
                                               <span>投诉</span>
                                    </li>
                                    <li>
                                        <input class="left {#if $infotype == '5' #}checked{#/if#}" type="radio" name="infotype" value="5" {#if $infotype == "5" #} checked="checked"{#/if#} />
                                               <span>合作</span>
                                    </li>
                                </ul>
                                <script>
                                    $('.type_box li input').click(function () {
                                        $('.type_box li input').removeClass('checked');
                                        $('.type_box li input').removeAttr('checked');
                                        $(this).addClass('checked');
                                        $(this).attr('checked');
                                    })
                                </script>
                            </div>
                            <div class="clear"></div>
                            <div class="content_box pbox">
                                <label>内容：</label>
                                <textarea name="feedback" id="feedback"></textarea>
                            </div>
                            <div class="clear"></div>
                            <div class="contact_box pbox">
                                <label>联系方式：</label>
                                <input name="tel" id="tel" type="text" placeholder="您的QQ、邮箱或者电话以便和您沟通，您的信息仅工作人员可见！" value="" />
                            </div>
                            <div class="clear"></div>
                            <div class="code_box pbox">
                                <label>验证码：</label>
                                <input name="postcaptcha" id="postcaptcha" type="text" placeholder="点击获取验证码" value="" />
                                <div class="img" id="imgdiv"></div>
                            </div>
                            <div class="clear"></div>
                            <input type="submit" class="submit" value="提交" />
                        </form>
                    </div>
                </div>
                <div class="right_box">
                    {#qishi_explain_list set="列表名:explain,分类ID:1"#}
                    <ul>
                        {#foreach from=$explain item=list#}
                        <a title="{#$list.title#}" href="{#$list.url#}">{#$list.title#}</a>
                        {#/foreach#}
                        <a class="hover" href="{#'QS_suggest'|qishi_url#}">意见反馈</a>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        {#include file="/2017/footer.htm"#}
    </body>
</html>
