{#qishi_company_show set="列表名:company,企业ID:GET[id]"#}
{#qishi_jobs_list set="列表名:jobs,填补字符:...,职位名长度:18,分页显示:1,显示数目:100,列表页:QS_companyjobs,描述长度:68,会员UID:"|cat:$company.uid#}
{#qishi_company_img_list set="列表名:img,企业ID:GET[id]"#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
        <title>{#$company.companyname#}_{#$QISHI.site_name#}</title>
        <meta name="keywords" content="{#$company.companyname#},{#$company.district_cn#}教师招聘,{#$company.companyname#}招聘信息"/>
        <meta name="description" content="{#if !empty($company.contents)#}{#$company.contents|strip_tags|strip|mb_substr:0:150:'GBK'#}{#else#}{#$company.companyname#}{#/if#}"/>
        <meta name="author" content="{#$QISHI.site_name#}" />
        <meta name="copyright" content="jiaoshizhaopin.net" />
        <link rel="shortcut icon" href="{#$QISHI.main_domain#}favicon.ico" />
        <link href="{#$QISHI.site_template#}css/base_20170628.css" rel="stylesheet" type="text/css" />
        <link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
        <link href="{#$QISHI.site_template#}css/company_vip/company_index.css" rel="stylesheet" type="text/css" />
        <script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
        <script src="{#$QISHI.site_template#}js/company_vip/simplefoucs.js" type="text/javascript" language="javascript"></script>
        <script src="{#$QISHI.site_template#}js/jquery.dialog.js" type="text/javascript" language="javascript"></script>
        <script src="http://api.map.baidu.com/api?v=1.2" type="text/javascript"></script>
    </head>

    <body>
        <div id="header">
            <div class="top_nav">
                <a class="logo" href="/"></a>
                <ul class="left">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/company">学校</a>
                    </li>
                    <li>
                        <a href="/TeachingJobs/?Classify=%D6%D0%D0%A1%D1%A7">职位</a>
                    </li>
                    <li>
                        <a href="/morejobs">简章</a>
                    </li>
                    <li>
                        <a href="http://tiku.jiaoshizhaopin.net/">考试</a>
                    </li>
                    <li>
                        <a href="/user/personal/personal_resume.php?act=resume_list">简历</a>
                    </li>
                </ul>
                <div class="right">
                    {#if empty($smarty.session.username)#}
                    <a href="/user/login.php">登录</a>
                    <a href="/user/user_reg.php">注册</a>
                    {#else#}
                    {#if $smary.session.utype == 1#}
                    <a href="/user/company/company_index.php">{#$smarty.session.username#}</a>
                    {#else#}
                    <a href="/user/personal/personal_index.php">{#$smarty.session.username#}</a>
                    {#/if#}
                    {#/if#}

                </div>
                <div class="bg"></div>
            </div>
            <div class="company_logo">
                <img src="{#$company.logo#}" width="80" height="80" />
            </div>
            <div class="company_name">
                <p>{#$company.companyname#}</p>
                {#if $company.audit == 1#}
                <p class="info">招聘数量：<span>{#$total#}</span>个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{#if !empty($company.district_cn)#}地区：{#$company.district_cn#}{#/if#}</p>
                {#/if#}
            </div>
            <div class="main_box">
                {#if $company.audit == 1#}
                <ul class="header_nav">
                    {#if !empty($company.district_cn)#}
                    <li>
                        <a href="#company_profile">公司简介</a>
                    </li>
                    {#/if#}
                    {#if $jobs#}
                    <li>
                        <a href="#job_title">招聘职位</a>
                    </li>
                    {#/if#}
                    {#if $img#}
                    <li>
                        <a href="#company_presence">公司风采</a>
                    </li>
                    {#/if#}
                    {#if $company.map_x > 0#}
                    <li>
                        <a href="#contact_us">联系我们</a>
                    </li>
                    {#/if#}
                </ul>
                {#/if#}
            </div>
        </div>
        <div id="content">
            {#if $company.audit == 1#}
            {#if !empty($company.district_cn)#}
            <div class="item_box" id="company_profile">
                <div class="main_box">
                    <div class="title_box">
                        <p class="cn">公司简介</p>
                        <p class="en">COMPANY PROFILE</p>
                    </div>
                    <div class="content_box">
                        <p>{#$company.contents|nl2br#}</p>
                    </div>
                </div>
                <div class="info_box">
                    <div class="main_box">
                        <ul>
                            <li class="left"><p>企业性质：{#$company.nature_cn#}</p></li>
                            <li><p>注册资金：{#$company.registered#}万元 {#$company.currency#}</p></li>
                            <li class="left"><p>员工人数：{#$company.scale_cn#}</p></li>
                            <li><p>所在地区：{#$company.district_cn#}</p></li>
                            <li class="left"><p>官网：{#if $company.website && $company.website != "http://"#}<a target="_blank" href="{#$company.website#}">{#$company.website#}</a>{#else#}无{#/if#}</p></li>
                            <li><p>地址：{#$company.address#}</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            {#/if#}
            {#if $jobs#}
            <div class="item_box" id="job_title">
                <div class="main_box">
                    <div class="title_box">
                        <p class="cn">招聘职位</p>
                        <p class="en">JOB TITLE</p>
                    </div>
                    <div class="job_box">
                        <p class="job_num">{#$total#}个职位正在招聘</p>
                        <ul>
                            {#foreach from=$jobs item=list#}
                            {#if $list.jobs_name != ''#}
                            <li>
                                <div class="title">
                                    <a href="/job/{#$list.id#}.html">{#$list.jobs_name#}</a>
                                    <span>{#$list.daterange#}发布</span>
                                </div>
                                <div class="clear"></div>
                                <div class="info">
                                    <p>薪资：{#$list.wage_cn#}</p><b></b><p>地区：{#$list.district_cn#}</p><b></b><p>学历要求：{#$list.education_cn#}</p><b></b><p>更新时间：{#$list.refreshtime_cn#}</p>
                                </div>
                            </li>
                            {#/if#}
                            {#/foreach#}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            {#/if#}
            {#if $img#}
            <div class="item_box" id="company_presence">
                <div class="main_box">
                    <div class="title_box">
                        <p class="cn">公司风采</p>
                        <p class="en">COMPANY PRESENCE</p>
                    </div>
                    <div class="img_box">
                        <div id="focus">
                            <div class="focus_box">
                                <ul>
                                    {#foreach from=$img item=li#}
                                    <li>
                                        <a href="{#$QISHI.main_domain#}data/companyimg/original/{#$li.img#}" target="_blank">
                                            <img src="{#$QISHI.main_domain#}data/companyimg/original/{#$li.img#}" alt="{#$company.companyname#}" />
                                        </a>
                                    </li>
                                    {#/foreach#}
                                </ul>
                            </div>
                        </div>
                        <script>
                            $('div.img_box ul li img').each(function () {
                                var w = $(this).width();
                                var h = $(this).height();
                                if (w < h) {
                                    $(this).attr('height', 525);
                                } else {
                                    if (w / h * 525 > 1200) {
                                        $(this).attr('width', 1200);
                                    } else {
                                        $(this).attr('height', 525);
                                    }
                                }
                            })
                        </script>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            {#/if#}

            {#if $company.map_x > 0#}
            <div class="item_box" id="contact_us">
                <div class="title_box">
                    <p class="cn">联系我们</p>
                    <p class="en">CONTACT US</p>
                </div>
                <div class="map_box">
                    <div id="map"></div>
                    <script type="text/javascript">
                        var map = new BMap.Map("map");
                                var point = new BMap.Point({#$company.map_x#}, {#$company.map_y#});
                                map.centerAndZoom(point, {#$company.map_zoom#});
                                var opts = {type: BMAP_NAVIGATION_CONTROL_SMALL, anchor: BMAP_ANCHOR_TOP_RIGHT}
                        map.addControl(new BMap.NavigationControl(opts)); //添加鱼骨
                        map.enableScrollWheelZoom();//启用滚轮放大缩小。
                        // 创建标注
                        var qs_marker = new BMap.Marker(point);
                        map.addOverlay(qs_marker);
                        // 创建标注 
                        // 打开信息窗口 
                        var opts = {
                            width: 150, // 信息窗口宽度   
                            height: 50, // 信息窗口高度   
                            title: "{#$company.companyname#}"  // 信息窗口标题   
                        }
                        var infoWindow = new BMap.InfoWindow("{#$company.address#}", opts);  // 创建信息窗口对象   
                        map.openInfoWindow(infoWindow, point);
                        // 打开信息窗口  			
                    </script>
                </div>
            </div>
            {#/if#}
            {#/if#}
        </div>
        {#include file="/2017/footer_page.htm"#}
    </body>
</html>
