<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <title>寻找最美乡村教师_提交资料_{#$QISHI.site_name#}</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="{#$QISHI.site_name#}" />
        <meta name="copyright" content="jiaoshizhaopin.net" />
        <link rel="shortcut icon" href="{#$QISHI.main_domain#}favicon.ico" />
        <link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
        <link href="{#$QISHI.site_template#}css/base_c.css" rel="stylesheet" type="text/css" />
        <link href="{#$QISHI.site_template#}css/activities.css" rel="stylesheet" type="text/css" />
        <script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
        <script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
        <script src="{#$QISHI.site_template#}js/ajaxfileupload.js" type='text/javascript' language="javascript"></script>
    </head>
    <body id="index">
        <div id="header">
            <div class="top">
                <div class="main">
                    <ul class="left">
                        <li><a title="中国教师招聘网" href="/">首页</a></li>
                        <li><a title="学校" href="/company">学校</a></li>
                        <li><a title="教师" href="/ProfileBank">教师</a></li>
                        <li><a title="职位" href="/TeachingJobs">职位</a></li>
                        <li><a title="简章" href="/morejobs">简章</a></li>
                        <li><a title="我的简历" href="/user/personal/personal_resume.php?act=resume_list">我的简历</a></li>
                    </ul>
                    <p class="right"></p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="ad">
                <a title="寻找最美乡村教师" href="/activities/list.php" ><img src="{#$QISHI.site_template#}images/activities_20170410_top.png" width="100%" /></a>
            </div>
            <div class="clear"></div>
        </div>
        <script>
            $(document).ready(function () {
                $("#Form1").validate({
                    ignore: "",
                    rules: {
                        photo_exist: {
                            required: true
                        },
                        name: {
                            required: true
                        },
                        district: {
                            required: true
                        },
                        school: {
                            required: true,
                            minlength: 2
                        },
                        address: {
                            required: true
                        },
                        phone: {
                            required: true,
                            minlength: 8
                        },
                        title: {
                            required: true
                        },
                        content: {
                            required: true,
                            maxlength: 2000
                        },
                        agreement: {
                            required: true
                        }
                    },
                    messages: {
                        photo_exist: {
                            required: "至少上传一张照片"
                        },
                        name: {
                            required: "请填写姓名"
                        },
                        district: {
                            required: "请选择地区"
                        },
                        school: {
                            required: "请填写执教学校",
                            minlength: "执教学校名称太短"
                        },
                        address: {
                            required: "请填写联系地址"
                        },
                        phone: {
                            required: "请填写联系电话",
                            minlength: "电话格式错误"
                        },
                        title: {
                            required: "请填写标题"
                        },
                        content: {
                            required: "请填写正文",
                            maxlength: "正文过长"
                        },
                        agreement: {
                            required: "请同意条款"
                        }
                    },
                    errorPlacement: function (error, element) {
                        if (element.is(":radio"))
                            error.appendTo(element.parent().next().next());
                        else if (element.is(":checkbox"))
                            error.appendTo(element.parent());
                        else
                            error.appendTo(element.parent());
                    }
                });

            });
        </script>
        <div class="clear"></div>
        <div id="content">
            <div class="main">
                <div class="left">
                    <h1>作品提交后不可修改，请仔细核查内容，如需帮助请联系客服。</h1>
                    <h1>您最多可上传5张图片（支持JPG/PNG/JPEG/GIF/BMP格式），最大不超过5MB，切勿使用他人作品，后果自负。</h1>
                    <form id="Form1" name="Form1" method="post" action="/activities/save.php" >
                        <ul>
                            <li class="photo_box">
                                <input type="hidden" name="photo_exist" id="photo_exist" value=''/>
                                <div class="up_photo_box first">
                                    <input type="file" name="photo1" id="photo1" class="up_photo" onchange ="uploadFile(1)" />
                                    <img src="" id="photo1_show" width='200' height="200"/>
                                    <a href="javascript:void()" class="photo_del">删除</a>
                                    <input type="hidden" name="photo[]" id="photo1_value" value=''/>
                                </div>
                                <div class="up_photo_box">
                                    <input type="file" name="photo2" id="photo2" class="up_photo" onchange ="uploadFile(2)" />
                                    <img src="" id="photo2_show" width='200' height="200"/>
                                    <a href="javascript:void()" class="photo_del">删除</a>
                                    <input type="hidden" name="photo[]" id="photo2_value" value=''/>
                                </div>
                                <div class="up_photo_box">
                                    <input type="file" name="photo3" id="photo3" class="up_photo" onchange ="uploadFile(3)" />
                                    <img src="" id="photo3_show" width='200' height="200"/>
                                    <a href="javascript:void()" class="photo_del">删除</a>
                                    <input type="hidden" name="photo[]" id="photo3_value" value=''/>
                                </div>
                                <div class="up_photo_box">
                                    <input type="file" name="photo4" id="photo4" class="up_photo" onchange ="uploadFile(4)" />
                                    <img src="" id="photo4_show" width='200' height="200"/>
                                    <a href="javascript:void()" class="photo_del">删除</a>
                                    <input type="hidden" name="photo[]" id="photo4_value" value=''/>
                                </div>
                                <div class="up_photo_box">
                                    <input type="file" name="photo5" id="photo5" class="up_photo" onchange ="uploadFile(5)" />
                                    <img src="" id="photo5_show" width='200' height="200"/>
                                    <a href="javascript:void()" class="photo_del">删除</a>
                                    <input type="hidden" name="photo[]" id="photo5_value" value=''/>
                                </div>
                                <div class="clear"></div>
                                <p class="tip">横版形象照片</p>
                                <script>
                                    function uploadFile(num) {
                                        $.ajaxFileUpload({
                                            url: '?act=uploadphoto&num=' + num,
                                            secureuri: false,
                                            fileElementId: 'photo' + num,
                                            dataType: 'STRING',
                                            success: function (data, status) {
                                                var f = data.substr(0, 1);
                                                if (f == "-") {
                                                    switch (data) {
                                                        case "-1":
                                                            alert("上传图片失败：上传目录不存在!");
                                                            return false;
                                                            break;
                                                        case "-2":
                                                            alert("上传图片失败：上传目录无法写入!");
                                                            return false;
                                                            break;
                                                        case "-3":
                                                            alert("上传图片失败：你选择的文件无法上传");
                                                            return false;
                                                            break;
                                                        case "-4":
                                                            alert("上传图片失败：文件大小超过限制");
                                                            return false;
                                                            break;
                                                        case "-5":
                                                            alert("上传图片失败：文件类型错误！");
                                                            return false;
                                                            break;
                                                        case "-6":
                                                            alert("上传图片失败：文件上传出错！");
                                                            return false;
                                                            break;
                                                        case "-7":
                                                            alert("请刷新页面后再试！");
                                                            return false;
                                                            break;
                                                        case "-8":
                                                            alert("请上传图片！");
                                                            return false;
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                } else {
                                                    var list = data.split('##');
                                                    var num = list[0];
                                                    var path = list[1];
                                                    var flag = $('#photo_exist').attr('value');
                                                    if (flag == "") {
                                                        flag = 0;
                                                    }
                                                    flag = parseInt(flag);
                                                    flag = flag + 1;
                                                    $('#photo' + num).hide();
                                                    $('#photo' + num + '_show').show();
                                                    $('#photo' + num + '_show').attr('src', path);
                                                    $('#photo' + num + '_value').attr('value', path);
                                                    $('#photo_exist').attr('value', flag);
                                                }
                                            }
                                        })
                                    }
                                    $('.up_photo_box').mouseover(function () {
                                        if ($(this).find('img').is(":visible")) {
                                            $(this).find('.photo_del').show();
                                        }
                                    }).mouseleave(function () {
                                        $(this).find('.photo_del').hide();
                                    })
                                    $('.photo_del').click(function () {
                                        $(this).parent().find('.up_photo').show();
                                        $(this).parent().find('img').hide();
                                        $(this).parent().find('a').hide();
                                        $(this).parent().find('input').attr('value', '');
                                        var flag = $('#photo_exist').attr('value');
                                        flag = parseInt(flag);
                                        flag = flag - 1;
                                        if (flag == 0) {
                                            flag = "";
                                        }
                                        $('#photo_exist').attr('value', flag);
                                    })
                                </script>
                            </li>
                            <li>
                                <label>姓名：</label>
                                <input type="text" name="name" id="name" value=""/>
                                <p class="tip m90">须与教师资格证名称一致，才有领奖资格。</p>
                            </li>
                            <li>
                                <label>地区：</label>
                                <select name="district" id="district">
                                    <option selected disabled value ="0">请选择省份</option>
                                    {#foreach from=$district item=c#}
                                    <option value="{#$c.id#}">{#$c.categoryname#}</option>
                                    {#/foreach#}
                                </select>
                                <select class="select" name="sdistrict" id="sdistrict" >
                                    <option value="0">请选择城市</option>
                                </select>
                                <script>
                                    $('select#district').change(function () {
                                        $.get('?act=get_city&pid=' + $('select#district').val(), function (data) {
                                            var data_arr = data.split("||");
                                            var str = "<option value='0'>全部</option>";
                                            for (var i = 0; i < data_arr.length; i++) {
                                                var item = data_arr[i].split("-");
                                                str = str + "<option value='" + item[0] + "'>" + item[1] + "</option>";
                                            }
                                            $('select#sdistrict').html(str)
                                        })
                                    })
                                </script>
                            </li>
                            <li>
                                <label>执教学校：</label>
                                <input type="text" name="school" id="school" value=""/>
                            </li>
                            <li>
                                <label>联系地址：</label>
                                <input type="text" name="address" id="address" value=""/>
                                <p class="tip m90">请填写真实有效地址，精准至门牌号，邮寄奖品使用，我们会保密哒。</p>
                            </li>
                            <li>
                                <label>手机号：</label>
                                <input type="text" name="phone" id="phone" value=""/>
                                <p class="tip m90">邮寄奖品时的联系方式。</p>
                            </li>
                            <li>
                                <p class="tip news_tip">关爱中国乡村教育，展示乡村教学软实力。说出你的故事……让更多人了解乡村教师。</p>
                                <input type="text" name="title" id="title" value=""/>
                                <input type="text" id="title_b" value="请输入文章标题"/>
                                <script>
                                    $('#title_b').focus(function () {
                                        $(this).hide();
                                        $('#title').show();
                                        $('#title').focus();
                                    })
                                    $('#title').blur(function () {
                                        if ($(this).val() == "") {
                                            $(this).hide();
                                            $('#title_b').show();
                                        }
                                    })
                                </script>
                            </li>
                            <li>
                                <p id="text_count"><var class="word">2000</var>/<var>2000</var></p>
                                <textarea name="content" id="news_content"></textarea>
                                <textarea id="news_content_b">分享教师之路的荣誉、自豪、心路、梦想，吹水……好故事能获取更多票数，必须为原创哦！</textarea>
                                <script>
                                    $('#news_content_b').focus(function () {
                                        $(this).hide();
                                        $('#news_content').show();
                                        $('#news_content').focus();
                                    })
                                    $('#news_content').blur(function () {
                                        if ($(this).val() == "") {
                                            $(this).hide();
                                            $('#news_content_b').show();
                                        }
                                        var haha = $(this).val();
                                        haha = haha.replace('<br />', '/n');
                                        $(this).val(haha);
                                    })
                                    $(function () {
                                        statInputNum($("#news_content"), $("#text_count").find(".word"));
                                    });
                                    /*
                                     * 剩余字数统计
                                     * 注意 最大字数只需要在放数字的节点哪里直接写好即可 如：<var class="word">200</var>
                                     */
                                    function statInputNum(textArea, numItem) {
                                        var max = numItem.text(),
                                                curLength;
                                        textArea[0].setAttribute("maxlength", max);
                                        curLength = textArea.val().length;
                                        numItem.text(max - curLength);
                                        textArea.on('input propertychange', function () {
                                            var _value = $(this).val().replace(/\n/gi, "");
                                            numItem.text(max - _value.length);
                                        });
                                    }
                                </script>
                            </li>
                            <li>
                                <div class="right">
                                    <p><input type="checkbox" checked="" name="agreement" id="agreement"/>承诺参赛作品为本人原创，并授权教师招聘网在非商业活动宣传中使用。</p>
                                </div>
                            </li>
                            <li>
                                <input class="right" type="submit" id="data_save" value="提交"/>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="right">
                    <a class="back_home" href="/activities/list.php">返回活动首页</a>
                    <p class="title">奖品展示</p>
                    <ul>
                        <li>
                            <img class="left" src="{#$QISHI.site_template#}images/activities_20170410_prize1.jpg" width="110" height="110" />
                            <div class="right">
                                <p class="name">一等奖：最美教师奖</p>
                                <p class="amount">数量：3名</p>
                                <p class="info">奖品：Apple iPad 平板电脑 9.7英寸  32G WLAN版</p>
                                <p class="price">市场价：<span>2668</span>元</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <img class="left" src="{#$QISHI.site_template#}images/activities_20170410_prize2.jpg" width="110" height="110" />
                            <div class="right">
                                <p class="name">二等奖：教学奉献奖</p>
                                <p class="amount">数量：10名</p>
                                <p class="info">奖品：Kindle电子阅读器入门版</p>
                                <p class="price">市场价：<span>558</span>元</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <img class="left" src="{#$QISHI.site_template#}images/activities_20170410_prize3.jpg" width="110" height="110" />
                            <div class="right">
                                <p class="name">三等奖：师德标兵奖</p>
                                <p class="amount">数量：50名</p>
                                <p class="info">奖品：教学扩音器+定制U盘</p>
                                <p class="price">市场价：<span>199</span>元</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <img class="left" src="{#$QISHI.site_template#}images/activities_20170410_prize4.jpg" width="110" height="110" />
                            <div class="right">
                                <p class="name">参与奖：辛勤园丁奖</p>
                                <p class="amount">数量：100名</p>
                                <p class="info">奖品：教师招聘网特别组合纪念品</p>
                                <p class="price">市场价：<span>99</span>元</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <img class="left" src="{#$QISHI.site_template#}images/activities_20170410_prize5.jpg" width="110" height="110" />
                            <div class="right">
                                <p class="name">校园奖：特别赞助奖</p>
                                <p class="amount">数量：3名</p>
                                <p class="info">奖品：爱普生投影机</p>
                                <p class="price">市场价：<span>2199</span>元<br/>备注：赞助给一等奖获得者所在学校（需学校证明）</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                    <p class="title">奖品说明</p>
                    <p class="note">1.奖品统一在2017年4月29日至2017年5月7日发放；</p>
                    <p class="note">2.获奖者需提供与参赛姓名一致的教师资格证书，否则视为不符合参赛资格。</p>
                    <p class="note">3.一等奖获得者所在学校，免费获得2199元爱普生投影机，需提供加盖公章的证明。</p>
                </div>
            </div>
        </div>
        <a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=&amp;style=3&amp;fs=4&amp;textcolor=#fff&amp;bgcolor=#19D&amp;text=分享到"></script>
        <div class="clear"></div>
        {#include file="footer_noad.htm"#}
    </body>
</html>