<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <title>我的得意门生_邀请评委_{#$QISHI.site_name#}</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="{#$QISHI.site_name#}" />
        <meta name="copyright" content="jiaoshizhaopin.net" />
        <link rel="shortcut icon" href="{#$QISHI.main_domain#}favicon.ico" />
        <link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
        <link href="{#$QISHI.site_template#}css/base_c.css" rel="stylesheet" type="text/css" />
        <link href="{#$QISHI.site_template#}css/activities.css" rel="stylesheet" type="text/css" />
        <script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
    </head>
    <body id="share_index">
        活动介绍
        <a href="/act0601/details.php?id={#$item.id#}">查看作品</a>
        <a href="/act0601/user.php?act=make_info-{#$team.id#}">加入团</a>
    </body>
</html>