<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
        <link href="{#$QISHI.site_template#}css/2017/company_profile.css" type="text/css" rel="stylesheet"/>
        <title>{#$title#}</title>
    </head>


    <body>
        {#include file="/2017/header.htm"#}
        <script src="{#$QISHI.site_template#}js/ajaxfileupload.js" type='text/javascript' language="javascript"></script>
        <script>
            $(document).ready(function () {
                function menuDown(menuId) {
                    $("#content").off('click', "#" + menuId + " div.text");
                    $("#content").on('click', "#" + menuId + " div.text", function () {
                        $(".select_box").find('ul.list').slideUp("fast");
                        $("#" + menuId).find('ul.list').slideDown('fast');
                        //生成背景
                        $("#" + menuId).parent("div").before("<div class=\"menu_bg_layer\"></div>");
                        $(".menu_bg_layer").height($(document).height());
                        $(".menu_bg_layer").css({width: $(document).width(), position: "absolute", left: "0", top: "0", "z-index": "0", "background-color": "#ffffff"});
                        $(".menu_bg_layer").css("opacity", "0");
                        $(".menu_bg_layer").click(function () {
                            $(".menu_bg_layer").remove();
                            $("#" + menuId).find('ul.list').slideUp("fast");
                            $("#" + menuId).parent("div").css("position", "");
                        });
                    });
                    $("#content").off('click', "#" + menuId + " ul.list li");
                    $("#content").on('click', '#' + menuId + ' ul.list li', function () {
                        var data = $(this).attr("data");
                        var text = $(this).find('span').html();
                        var sdistrict = $('#' + menuId).attr('data-sdistrict');
                        var job = $('#' + menuId).attr('data-job');
                        $("#" + menuId).find('input[type="hidden"]').val(data);
                        $("#" + menuId).find('div.text span').html(text);
                        $("#" + menuId).find('ul.list').slideUp('fast');
                        $(".menu_bg_layer").remove();
                        if (sdistrict == 1) {
                            var data_arr = data.split('-');
                            $.get("?act=get_city&id=" + data_arr[0], function (result) {
                                var html = "";
                                if (result.indexOf('||') > 0) {
                                    var arr = result.split("||");
                                } else {
                                    var arr = new Array(result);
                                }
                                for (var i = 0; i < arr.length; i++) {
                                    var item = arr[i].split("-");
                                    html += '<li data="' + item[0] + '-' + item[1] + '"><span>' + item[1] + '</span></li>';
                                }
                                $("#" + menuId).parent().find('.sdistrict ul.list').html(html)
                                $("#" + menuId).parent().find('.sdistrict .text span').html('全部')
                                $("#" + menuId).parent().find('.sdistrict input').attr('value', '0-全部')
                            });
                        }
                        if (job == 1) {
                            var data_arr = data.split('-');
                            $.get("?act=get_job_type&id=" + data_arr[0], function (result) {
                                var html = "";
                                if (result.indexOf('||') > 0) {
                                    var arr = result.split("||");
                                } else {
                                    var arr = new Array(result);
                                }
                                for (var i = 0; i < arr.length; i++) {
                                    var item = arr[i].split("-");
                                    html += '<li data="' + item[0] + '-' + item[1] + '"><span>' + item[1] + '</span></li>';
                                }
                                $("#" + menuId).parent().find('.job_type ul.list').html(html)
                                $("#" + menuId).parent().find('.job_type .text span').html('请选择分类')
                                $("#" + menuId).parent().find('.job_type input').attr('value', '')
                            });
                        }
                    });
                }
                $('#content').ajaxStop(function () {
                    $('div.select_box').each(function () {
                        var did = $(this).attr('id');
                        menuDown(did);
                    })
                })

                $('div.select_box').each(function () {
                    var did = $(this).attr('id');
                    menuDown(did);
                })
            })
        </script>
        <div id="content">
            <div class="main_box">
                <p class="top_nav"><a href="/">教师招聘网</a>&nbsp;>&nbsp;<a href="/user/company/company_index.php">企业中心 </a>&nbsp;>&nbsp;账号设置</p>
                <div class="left_box">
                    <div class="box_title">
                        <a class="cur" href="/user/company/company_info.php?act=company_profile">企业资料</a>
                        <a href="/user/company/company_info.php?act=company_img">企业相册</a>
                        <a href="/user/company/company_info.php?act=company_map_set">地图标注</a>
                        <a href="/user/company/company_user.php?act=password_edit">密码安全</a>
                        <a href="/user/company/company_user.php?act=login_log">登录日志</a>
                        <a href="/user/company/company_service.php?act=account">我的账号</a>
                        <a href="/user/company/company_user.php?act=pm">我的消息</a>
                    </div>

                    <!-- 
                    <div class="vip_tips">
                        <i></i>
                        <span class="left">招聘任务重，时间紧，提升招聘效果，立即使用职位推广增值服务。</span>
                        <a class="del"  ></a>
                        <a class="right" href="/user/company/company_jobs.php?act=jobs&jobtype=1">职位推广</a>
                        <script>
                            $('div.vip_tips a.del').click(function () {
                                $('div.vip_tips').hide();
                            })
                        </script>
                    </div>
                    <div class="clear"></div>
                    -->
                    <!-- 2018红包活动 -->
                    <!--
                    <div class="vip_tips" style="background: #fff4f4;">
                        <i style=' background: url("{#$QISHI.site_template#}images/2017/act_spring2018_icon.png")'></i>
                        <span class="left" style="color: #ee0000;">每成功发布1个职位，100%获得现金红包。</span>
                        <a class="del"  ></a>
                        <a class="right" style="color: #ee0000;" href="/user/company/company_jobs.php?act=addjobs">发布职位</a>
                        <script>
                            $('div.vip_tips a.del').click(function () {
                                $('div.vip_tips').hide();
                            })
                        </script>
                    </div>
                    <div class="clear"></div>
                    -->
                    <!-- 2018红包活动 -->
                    <div class="clear"></div>
                    <form action="?act=company_profile_save" method="post">
                        <div class="item_box logo">
                            <img src="{#if !empty($company_profile.logo)#}/data/logo/{#$company_profile.logo#}{#else#}{#$QISHI.site_template#}images/2017/upload_img_300-110.jpg{#/if#}" width="300" height="110" />
                            <input type="file" name="logo" id="logo" class="logo_upload" />
                            <script>
                                $('.logo').on('change', '.logo_upload', function () {
                                    $.ajaxFileUpload({
                                        url: '?act=company_logo_save&ajax=1',
                                        secureuri: false,
                                        fileElementId: 'logo',
                                        dataType: 'string',
                                        success: function (data, status) {
                                            switch (data) {
                                                case "-1":
                                                    alert("上传图片失败：上传目录不存在!");
                                                    return false;
                                                    break;
                                                case "-2":
                                                    alert("上传图片失败：上传目录无法写入!");
                                                    return false;
                                                    break;
                                                case "-3":
                                                    alert("上传图片失败：你选择的文件无法上传");
                                                    return false;
                                                    break;
                                                case "-4":
                                                    alert("上传图片失败：文件大小超过限制");
                                                    return false;
                                                    break;
                                                case "-5":
                                                    alert("上传图片失败：文件类型错误！");
                                                    return false;
                                                    break;
                                                case "-6":
                                                    alert("上传图片失败：文件上传出错！");
                                                    return false;
                                                    break;
                                                default:
                                                    break;
                                            }
                                            $('.logo img').attr('src', data);
                                            location.reload();
                                        }
                                    })
                                })
                            </script>
                        </div>
                        <div class="clear"></div>
                        <div class="item_box">
                            <label class="item_name"><b class="must">*</b>企业名称：</label>
                            <div class="input_box">
                                <input name="companyname" type="text" class="text" id="companyname" maxlength="80"   value="{#$company_profile.companyname#}"/>
                            </div>
                        </div>
                        <div class="item_box">
                            <label class="item_name"><b class="must">*</b>企业性质：</label>
                            <div class="input_box">
                                <div class="select_box" id="nature">
                                    <div class="text">
                                        <span>{#$company_profile.nature_cn|default:"请选择企业性质"#}</span>
                                        <i></i>
                                    </div>
                                    <ul class="list">
                                        {#qishi_get_classify set="列表名:c_nature,类型:QS_company_type"#}
                                        {#foreach from=$c_nature item=list#}
                                        <li data="{#$list.id#}-{#$list.categoryname#}" title="{#$list.categoryname#}"><span>{#$list.categoryname#}</span></li>
                                        {#/foreach#}
                                    </ul>
                                    <input type="hidden" name="nature" id="nature_value" value="{#if $company_profile.nature>0#}{#$company_profile.nature#}-{#$company_profile.nature_cn#}{#/if#}" />
                                </div>
                            </div>
                        </div>
                        <div class="item_box">
                            <label class="item_name">企业规模：</label>
                            <div class="input_box">
                                <div class="select_box" id="scale">
                                    <div class="text">
                                        <span>{#$company_profile.scale_cn|default:"请选择企业规模"#}</span>
                                        <i></i>
                                    </div>
                                    <ul class="list">
                                        {#qishi_get_classify set="列表名:c_scale,类型:QS_scale"#}
                                        {#foreach from=$c_scale item=list#}
                                        <li data="{#$list.id#}|{#$list.categoryname#}" title="{#$list.categoryname#}"><span>{#$list.categoryname#}</span></li>
                                        {#/foreach#}
                                    </ul>
                                    <input type="hidden" name="scale" id="scale_value" value="{#if $company_profile.scale>0#}{#$company_profile.scale#}|{#$company_profile.scale_cn#}{#/if#}" />
                                </div>
                            </div>
                        </div>
                        <div class="item_box">
                            <label class="item_name">注册资金（万元）：</label>
                            <div class="input_box">
                                <input name="registered" type="text" class="text" id="registered" maxlength="20"   value="{#$company_profile.registered#}"/>
                            </div>
                        </div>
                        <div class="item_box">
                            <label class="item_name"><b class="must">*</b>所在地区：</label>
                            <div class="input_box">
                                <div class="select_box half" data-sdistrict="1" id="district">
                                    <div class="text">
                                        <span>请选择省份</span>
                                        <i></i>
                                    </div>
                                    <ul class="list">
                                        {#jiaoshi_districts set="列表名:city,热度排序:desc,后台排序:desc,是否显示不限:0,类别:省份"#}
                                        <!-- 以下为循环数组category内容  -->
                                        {#foreach from=$city item=c#}
                                        <li data="{#$c.id#}-{#$c.categoryname#}"><span>{#$c.categoryname#}</span></li>
                                        {#/foreach#}
                                    </ul>
                                    <input type="hidden" name="district" id="district_value" value="" />
                                </div>
                                <div class="select_box half sdistrict" id="sdistrict">
                                    <div class="text">
                                        <span>请选择城市</span>
                                        <i></i>
                                    </div>
                                    <ul class="list"></ul>
                                    <input type="hidden" name="sdistrict" id="sdistrict_value" value="" />
                                </div>
                            </div>
                            <script>
                                var district_cn = "{#$company_profile.district_cn#}";
                                var district_txt = district_cn.split('/');
                                $('input[name=district]').val("{#$company_profile.district#}-" + district_txt[0]);
                                $('input[name=district]').parent().find('.text span').html(district_txt[0]);
                                $('input[name=sdistrict]').val("{#$company_profile.sdistrict#}-" + district_txt[1]);
                                $('input[name=sdistrict]').parent().find('.text span').html(district_txt[1]);
                                $.get("?act=get_city&id={#$company_profile.district#}", function (result) {
                                    var html = "";
                                    if (result.indexOf('||') > 0) {
                                        var arr = result.split("||");
                                    } else {
                                        var arr = new Array(result);
                                    }
                                    for (var i = 0; i < arr.length; i++) {
                                        var item = arr[i].split("-");
                                        html += '<li data="' + item[0] + '-' + item[1] + '"><span>' + item[1] + '</span></li>';
                                    }
                                    $("#sdistrict ul.list").html(html);
                                });
                            </script>
                        </div>
                        <div class="item_box">
                            <label class="item_name"><b class="must">*</b>详细地址：</label>
                            <div class="input_box">
                                <input name="address" type="text" class="text" id="address" maxlength="80"   value="{#$company_profile.address#}"/>
                            </div>
                        </div>
                        <hr/>
                        <div class="item_box">
                            <label class="item_name"><b class="must">*</b>联系人：</label>
                            <div class="input_box">
                                <input name="contact" type="text" class="text" id="contact" maxlength="80"   value="{#$company_profile.contact#}"/>
                            </div>
                        </div>
                        <div class="item_box">
                            <label class="item_name"><b class="must">*</b>联系电话：</label>
                            <div class="input_box">
                                <input name="telephone" type="text" class="text" id="telephone" maxlength="80"   value="{#$company_profile.telephone#}"/>
                            </div>
                        </div>
                        <div class="item_box">
                            <label class="item_name"><b class="must">*</b>联系邮箱：</label>
                            <div class="input_box">
                                <input name="email" type="text" class="text" id="email" maxlength="80"   value="{#$company_profile.email#}"/>
                            </div>
                        </div>
                        <div class="item_box">
                            <label class="item_name">公司网站：</label>
                            <div class="input_box">
                                <input name="website" type="text" class="text" id="website" maxlength="80" value="{#$company_profile.website#}"/>
                            </div>
                        </div>
                        <hr/>
                        <div class="item_box specialty">
                            <label class="item_name"><b class="must">*</b>公司简介：</label>
                            <div class="clear"></div>
                            <textarea name="contents" id="contents">{#$company_profile.contents#}</textarea>
                        </div>

                        <input type="hidden" name="trade" value="33" />
                        <input type="hidden" name="trade_cn" value="教育/培训" />
                        <input type="hidden" name="yellowpages" value="1" />
                        <input class="submit" type="submit" value="保存"/>
                        <hr/>
                    </form>
                </div>
                <div class="right_box">
                    <div class="function_box">
                        <ul>
                            <li class="company_profile">
                                <a href="/user/company/company_index.php"><i></i><span>企业中心</span></a>
                            </li>
                            <li class="company_job">
                                <a href="/user/company/company_jobs.php?act=jobs&jobtype=1"><i></i><span>职位管理</span></a>
                            </li>
                            <li class="company_resume">
                                <a href="/user/company/company_recruitment.php?act=apply_jobs"><i></i><span>简历管理</span></a>
                            </li>
                            <li class="company_vip">
                                <a href="/user/company/company_service.php?act=setmeal_list"><i></i><span>VIP服务</span></a>
                            </li>
                            <li class="company_account">
                                <a href="/user/company/company_info.php?act=company_profile"><i></i><span>账号设置</span></a>
                            </li>
                            <li class="company_authenticate">
                                <a href="/user/company/company_user.php?act=authenticate"><i></i><span>身份认证</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="quick_box">
                        <ul>
                            <li class="add_jobs">
                                <a href="/user/company/company_jobs.php?act=addjobs"><i></i><br/><span>发布职位</span></a>
                            </li>
                            <li class="home_page">
                                <a href="/school/{#$company_profile.id#}.html"><i></i><br/><span>公司主页</span></a>
                            </li>
                            <li class="search_resume">
                                <a href="/resume/resume-list.php"><i></i><br/><span>人才搜索</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        {#include file="/2017/footer_list.htm"#}
    </body>
</html>
