<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <title>{#$title#}</title>
        <link rel="shortcut icon" href="{#$QISHI.main_domain#}favicon.ico" />
        <meta name="author" content="骑士CMS" />
        <meta name="copyright" content="74cms.com" />
        <link href="{#$QISHI.site_template#}css/user_common.css" rel="stylesheet" type="text/css" />
        <link href="{#$QISHI.site_template#}css/user_company.css" rel="stylesheet" type="text/css" />
        <script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
    </head>
    <body>
        {#include file="user/header.htm"#}
        <p style="margin: 165px 0 20px 0; font-size: 24px; color: #333; text-align: center;">{#$p#}</p>
        <span style=" font-size: 14px; color: #999; text-align: center; display: block; margin: 0px 0px 70px 0px;">{#$span#}</span>
        <p style="text-align: center; margin: 0px 0px 160px 0px;"><a style="color:#fff; background: #0066cc; padding: 10px 35px; " href="{#$url#}">{#$str#}</a></p>
        {#include file="user/footer.htm"#}
    </body>
</html>
