<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
        <link href="{#$QISHI.site_template#}css/2017/company_addjobs_succeed.css" type="text/css" rel="stylesheet"/>
        <title>{#$title#}</title>
    </head>

    <body>
        {#include file="/2017/header.htm"#}
        <div id="content">
            <div class="main_box">
                <p class="top_nav"><a href="/">教师招聘网</a>&nbsp;>&nbsp;<a href="/user/company/company_index.php">企业中心 </a>&nbsp;>&nbsp;职位管理</p>
                <div class="left_box">
                    <div class="item_box">
                        <i class="top_img"></i>
                    </div>
                    <div class="item_box">
                        <p>恭喜您，职位发布成功！</p>
                    </div>
                    <div class="item_box">
                        <a class="search_resume" href="/resume/resume-list.php"><i></i><br/><span>搜索简历</span></a>
                        <a class="promotion" href="/user/company/company_jobs.php?act=jobs&jobtype=3"><i></i><br/><span>推广职位</span></a>
                        <a class="add_job" href="/user/company/company_jobs.php?act=addjobs"><i></i><br/><span>继续发布</span></a>
                    </div>
                </div>
                <div class="right_box">
                    <div class="function_box">
                        <ul>
                            <li class="company_profile">
                                <a href="/user/company/company_index.php"><i></i><span>企业中心</span></a>
                            </li>
                            <li class="company_job">
                                <a href="/user/company/company_jobs.php?act=jobs&jobtype=1"><i></i><span>职位管理</span></a>
                            </li>
                            <li class="company_resume">
                                <a href="/user/company/company_recruitment.php?act=apply_jobs"><i></i><span>简历管理</span></a>
                            </li>
                            <li class="company_vip">
                                <a href="/user/company/company_service.php?act=setmeal_list"><i></i><span>VIP服务</span></a>
                            </li>
                            <li class="company_account">
                                <a href="/user/company/company_info.php?act=company_profile"><i></i><span>账号设置</span></a>
                            </li>
                            <li class="company_authenticate">
                                <a href="/user/company/company_user.php?act=authenticate"><i></i><span>身份认证</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="quick_box">
                        <ul>
                            <li class="add_jobs">
                                <a href="/user/company/company_jobs.php?act=addjobs"><i></i><br/><span>发布职位</span></a>
                            </li>
                            <li class="home_page">
                                <a href="/school/{#$company_profile.id#}.html"><i></i><br/><span>公司主页</span></a>
                            </li>
                            <li class="search_resume">
                                <a href="/resume/resume-list.php"><i></i><br/><span>人才搜索</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        {#include file="/2017/footer_list.htm"#}
    </body>
</html>
