{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
    <div class="pagetit">
        <div class="ptit">  在线课程-修改订单</div>
        <div class="clear"></div>
    </div>
    <div class="toptit">修改订单</div>
    <form id="form1" name="form1" method="post" action="?act=edit_save" enctype="multipart/form-data">
        {#$inputtoken#}
        <input type="hidden" name="id" value="{#$order.id#}">
        <table width="100%" border="0" cellpadding="4" cellspacing="0"  >
            <tr>
                <td width="120" height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">用户名：</td>
                <td style=" border-bottom:1px #CCCCCC dashed"> {#$order.user.username#} </td>
            </tr>
            <tr>
                <td width="120" height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">课程名称：</td>
                <td style=" border-bottom:1px #CCCCCC dashed"> {#$order.course.title#} </td>
            </tr>
            <tr>
                <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">订单价格：</td>
                <td style=" border-bottom:1px #CCCCCC dashed"> <input name="price" type="text" class="input_text_200" id="name" maxlength="25" value="{#$order.price#}"/> </td>
            </tr>
            <tr>
                <td height="30" align="right" style=" border-bottom:1px #CCCCCC dashed">备注：</td>
                <td style=" border-bottom:1px #CCCCCC dashed" >
                    <textarea style=" width: 450px; height: 200px;" name="note" id="des">{#$order.note#}</textarea>
                </td>
            </tr>
            <tr>
                <td height="30" align="right" >&nbsp;</td>
                <td   >
                    <input name="submit3" type="submit" class="admin_submit"    value="保存"/>
                    <input name="submit22" type="button" class="admin_submit" value="返 回" onclick="window.location.href = '/jaosen/admin_online_course_order.php'"/>
                </td>
            </tr>
        </table>
    </form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>