{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
    <div class="pagetit">
        <div class="ptit">  在线课程-机构列表</div>
        <div class="clear"></div>
    </div>

    <form id="form1" name="form1" method="post" action="?act=school_del">
        {#$inputtoken#}
        <table width="100%" border="0" cellpadding="0" cellspacing="0"  id="list" class="link_lan">
            <tr>
                <td   width="8%" class="admin_list_tit admin_list_first">
                    <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>机构编号</label>
                </td>
                <td    class="admin_list_tit">机构名称</td> 
                <td  width="12%" class="admin_list_tit">机构LOGO</td>  
                <td  width="5%" class="admin_list_tit">审核状态</td>  
                <td  width="10%" class="admin_list_tit">添加时间</td>  
                <td width="15%" align="center" class="admin_list_tit">操作</td>
            </tr>
            {#foreach from=$clist item=list#}
            <tr >
                <td class="admin_list admin_list_first" >
                    <input name="y_id[]" type="checkbox" id="y_id" value="{#$list.id#}" />
                    {#$list.id#}
                </td>
                <td  class="admin_list">
                    {#$list.name#}
                </td>
                <td  class="admin_list">
                    <img src="{#$list.logo#}" width="80" height="80">
                </td>
                <td class="admin_list">
                    {#if $list.audit ==1 #}未审核{#elseif $list.audit == 2#}审核通过{#elseif $list.audit == 3#}审核不通过{#/if#}
                </td>
                <td class="admin_list">
                    {#$list.addtime|date_format:'%Y-%m-%d %H:%M:%S'#}
                </td>
                <td width="15%" align="center" class="admin_list">
                    <a href="/jaosen/admin_online_course_school_add.php?act=edit&id={#$list.id#}">修改</a>
                    &nbsp;&nbsp;
                    <a href="?act=school_del&id={#$list.id#}">删除</a>
                </td>
            </tr>
            {#/foreach#}
        </table>
        {#if !$clist#}
        <div class="admin_list_no_info">没有任何信息！</div>
        {#/if#}

        <table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
            <tr>
                <td>
                    <input type="button" name="" value="添加机构" class="admin_submit"  id="ButAdd" onclick="javascript:window.location.href = '/jaosen/admin_online_course_school_add.php'" />
                    <input type="submit" name="" value="删除机构" class="admin_submit" />
                    <select name="set_audit">
                        <option value="2">通过审核</option>
                        <option value="3">不通过审核</option>
                    </select>
                    <input  type="button" name="" value="审核机构" class="admin_submit"  id="ButAudit" />
                </td>
                <td width="305" align="right">

                </td>
            </tr>
        </table>
    </form>
    <div class="page link_bk">{#$page#}</div>
    <script>
        $('#chk').click(function () {
            if ($(this).attr("checked")) {
                $('table input').attr('checked', true)
            } else {
                $('table input').removeAttr('checked')
            }
        })
        $('#ButAudit').click(function () {
            $('form').attr('action', '?act=set_audit');
            $('form').submit();
        })
    </script>
</div>
<!-- -->
{#include file="sys/admin_footer.htm"#}
</body>
</html>